<%= form_with(model: subscription, url: renew_update_subscription_path(@subscription), data: { controller: 'toggle-open' } ) do |form| %>
    <% if subscription.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: subscription.errors.count) %></h2>
            <ul>
                <% subscription.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :start_date, class: 'form-label fw-semibold text-secondary' %>
                <%= form.date_field :start_date, class: 'form-control' %>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <%= form.label :end_date, class: 'form-label fw-semibold text-secondary' %>
                <%= form.date_field :end_date, class: 'form-control' %>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <%= form.label :activity_plan_id, class: 'form-label fw-semibold text-secondary' %>
            <%= form.collection_select :activity_plan_id, @plans, :id, :humanize_plan, {}, { class: 'form-select' } %>
        </div>
    </div>
    <div class="form-check mt-4" data-toggle-open-target="openField">
        <%= label_tag 'open', 'OPEN', class: 'text-secondary fw-semibold form-label' %>
        <%= check_box_tag(:open, class: 'form-check-input') %>
    </div>


    <%= form.hidden_field :user_id, value: @user.id %>
    <%= form.hidden_field :activity_id, value: @activity.id, 'data-toggle-open-target' => 'activitySelect' %>
    <%= form.hidden_field :staff_id, value: current_staff.id %>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
