<div id="<%= dom_id staff %>">
  <p>
    <strong>User:</strong>
    <%= staff.user_id %>
  </p>

  <p>
    <strong>Card expiry date:</strong>
    <%= staff.card_expiry_date %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= staff.password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= staff.role %>
  </p>

</div>
