<% staff_attribute_to_string = ->(attr) { attribute_to_string(staff, attr) } %>
<% user_attribute_to_string = ->(attr) { attribute_to_string(staff.user, attr) } %>

<!-- Personal Data -->
<div class="row mb-2">

    <!-- Nickname -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= staff_attribute_to_string.('nickname') %>
        </p>
        <p class="fs-5 fw-semibold text-secondary">
            <%= staff.nickname %>
        </p>
    </div>

    <!-- User -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= staff_attribute_to_string.('user') %>
        </p>
        <p class="fs-5 fw-semibold text-secondary">
            <%= staff.full_name %>
        </p>
    </div>

    <!-- Birth Day -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= user_attribute_to_string.('birth_day') %>
        </p>
        <% if staff.birth_day %>
            <p class="fs-5 fw-semibold text-secondary">
                <%= l staff.birth_day %> (<%= num_to_human_years staff.age %>)
            </p>
        <% end %>
    </div>

    <!-- CF -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= user_attribute_to_string.('cf') %>
        </p>
        <p class="fs-5 fw-semibold text-secondary">
            <%= staff.cf %>
        </p>
    </div>
</div>

<div class="row mb-2">

    <!-- Email -->
    <% email = staff.email %>
    <div class="col-md-3">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= user_attribute_to_string.('email') %>
        </p>
        <p class="fs-5 fw-semibold <%= email.present? ? 'text-secondary' : 'text-warning' %>">
            <% if email.present? %>
                <%= email %>
            <% else %>
                <%= t('empty') %>
            <% end %>
        </p>
    </div>

    <!-- Phone -->
    <% phone = staff.phone %>
    <div class="col-md-3">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= user_attribute_to_string.('phone') %>
        </p>

        <p class="fs-5 fw-semibold <%= phone.present? ? 'text-secondary' : 'text-warning' %>">
            <% if phone.present? %>
                <%= phone_to_string phone %>
            <% else %>
                <%= t('empty') %>
            <% end %>
        </p>
    </div>

    <!-- Affiliated -->
    <% affiliated = staff.affiliated? %>
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= user_attribute_to_string.('affiliated') %>
        </p>
        <p class="fs-5 fw-semibold text-secondary">
            <%= t affiliated %>
        </p>
    </div>
</div>

<% unless staff.volunteer? %>

    <!-- Cert med -->
    <% med = staff.med_cert_issue_date %>
    <div class="row mb-2">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= user_attribute_to_string.('med_cert_issue_date') %>
        </p>
        <p class="fs-5 fw-semibold <%= med.present? ? 'text-secondary' : 'text-warning' %>">

            <% if med.present? %>
                <%= l med %> (<%= distance_of_time_in_words_to_now staff.user.med_cert_exp_date %>)
            <% else %>
                <%= t 'empty' %>
            <% end %>
        </p>
    </div>
<% end %>

<% if current_staff.admin? %>

    <div class="container py-1">
        <hr>
    </div>

    <div class="row mb-2">

        <!-- Current Sign In At -->
        <div class="col">
            <p class="fs-6 fw-light text-muted mb-2">
                <%= staff_attribute_to_string.('current_sign_in_at') %>
            </p>
            <p class="fs-5 fw-semibold text-secondary">
                <%= staff.current_sign_in_at.present? ? time_ago_in_words(staff.current_sign_in_at) : t('.never') %>
            </p>
        </div>

        <!-- Last Sign In At -->
        <div class="col">
            <p class="fs-6 fw-light text-muted mb-2">
                <%= staff_attribute_to_string.('last_sign_in_at') %>
            </p>
            <p class="fs-5 fw-semibold text-secondary">
                <%= staff.last_sign_in_at.present? ? time_ago_in_words(staff.last_sign_in_at) : t('.never') %>
            </p>
        </div>
    </div>
<% end %>
