<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
        <h1 class="mb-0 me-2"><%= t '.title' %></h1>
        <span>(<%= t('.registered', count: @pagy.count) %>)</span>
    </div>

    <%= link_to new_staff_path, class: 'btn btn-success' do %>
        <i class="bi bi-person-fill-add"></i> <%= t '.add_staff' %>
    <% end %>
</div>

<%= render 'partials/search_form_users', path: staffs_path, frame: :staffs %>

<%= turbo_frame_tag :staffs do %>
<div id="staffs">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th><%= User.human_attribute_name('name') %></th>
                <th><%= User.human_attribute_name('surname') %></th>
                <th><%= User.human_attribute_name('birth_day') %></th>
                <th><%= Staff.human_attribute_name('role') %></th>
                <th><%= t 'global.table.action' %></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            <% @staffs.each do |staff| %>
                <tr>
                    <!-- Name -->
                    <td>
                        <%= staff.name %>
                    </td>

                    <!-- Surname -->
                    <td>
                        <%= staff.surname %>
                    </td>

                    <!-- Birth Day -->
                    <td>
                        <%= l staff.birth_day %>
                    </td>

                    <!-- Role -->
                    <td>
                        <%= Staff.human_attribute_name("role.#{staff.get_role.downcase}") %>
                    </td>

                    <td>
                        <%= link_to staff, class: 'btn btn-primary' do %>
                            <i class="bi bi-eye-fill"></i>
                        <% end %>

                        <% if current_staff.admin? %>

                            <%= link_to edit_staff_path(staff), class: 'btn btn-warning' do %>
                                <i class="bi bi-pencil-fill"></i>
                            <% end %>

                            <!-- TODO translate -->
                            <%= button_to staff,
                                          class: 'btn btn-danger',
                                          method: :delete,
                                          data: { turbo_confirm: "Sicuro di voler eliminare questo utente? L'operazione non è reversibile" },
                                          form: {style: 'display:inline-block;'} do %>
                                <i class="bi bi-trash3-fill"></i>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>
<% end %>
