<div id="<%= dom_id membership %>">
  <div class="card">
      <div class="card-header">
          Quota Associativa
      </div>
      <div class="card-body">
          <h5 class="card-title"><%= membership.user.full_name %></h5>
          <p class="card-text">
              <p>
                  <strong>Data Iscrizione:</strong>
                  <%= membership.start_date %>
              </p>

              <p>
                  <strong>Data Scadenza:</strong>
                  <%= membership.end_date %>
              </p>

              <p>
                  <strong>Giorni alla scadenza:</strong>
                  <%= membership.num_of_days_til_renewal %>
              </p>
          </p>
      </div>
      <div class="card-footer text-body-secondary">
          Creata il: <%= membership.created_at %> Aggiornata il: <%= membership.updated_at %>
      </div>

  </div>
</div>
