<div id="<%= dom_id membership %>">
  <p>
    <strong>Data:</strong>
    <%= membership.date %>
  </p>

  <p>
    <strong>Pagata:</strong>
    <%= membership.payed %>
  </p>

  <p>
    <strong>Subscription type:</strong>
    <%= membership.subscription_type_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= membership.user_id %>
  </p>

</div>
