<% mem_attribute_to_string = ->(attr) { attribute_to_string(membership, attr) } %>

<% user = membership.user %>
<div class="row mb-2">
    <!-- User -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= mem_attribute_to_string.('user') %>
        </p>
        <div class="fs-5 fw-semibold text-secondary">
            <%= link_to "#{user.full_name}",
                        user,
                        class: 'fs-5 fw-semibold link-secondary link-underline-dark link-offset-2'
            %>
        </div>
    </div>
</div>

<div class="row mb-2">

    <!-- Start Date -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= mem_attribute_to_string.('start_date') %>
        </p>
        <div class="fs-5 fw-semibold text-secondary">
            <%= l membership.start_date %>
        </div>
    </div>

    <!-- End Date -->
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= mem_attribute_to_string.('end_date') %>
        </p>
        <div class="fs-5 fw-semibold text-secondary">
            <%= l membership.end_date %>
        </div>
    </div>

    <!-- Status -->
    <% presenter = MembershipPresenter.new(membership) %>
    <div class="col">
        <p class="fs-6 fw-light text-muted mb-2">
            <%= mem_attribute_to_string.('status') %>
        </p>
        <%= link_to presenter.appropriate_path(user),
                    class: "btn fs-6 border border-secondary-subtle fw-semibold text-secondary text-bg-#{presenter.css_color}",
                    data: { turbo_frame: "_top" } do %>
            <i class="<%= presenter.link_icon %>"></i>
            <%= presenter.link_title %>
        <% end %>
    </div>
</div>

<% if current_staff.admin? %>

    <div class="container py-1">
        <hr>
    </div>

    <div class="row mb-2">
        <div class="col">
            <p class="fs-6 fw-light text-muted mb-2">
                <%= mem_attribute_to_string.('staff') %>
            </p>
            <div class="card-text">
                <% staff = membership.staff %>
                <%= link_to "#{staff.nickname}", staff, class: 'fs-5 fw-semibold link-secondary link-underline-dark link-offset-2' %>
            </div>
        </div>

        <div class="col">
            <p class="fs-6 fw-light text-muted mb-2">
                <%= mem_attribute_to_string.('updated_at') %>
            </p>
            <div class="fs-5 fw-semibold text-secondary">
                <%= l membership.updated_at, format: :long %>
            </div>
        </div>

        <div class="col">
            <p class="fs-6 fw-light text-muted mb-2">
                <%= mem_attribute_to_string.('created_at') %>
            </p>
            <div class="fs-5 fw-semibold text-secondary">
                <%= l membership.created_at, format: :long %>
            </div>
        </div>
    </div>
<% end %>
