<% mem_attribute_to_string = ->(attr) { attribute_to_string(membership, attr) } %>
<div class="row mb-4">
    <div class="col">
        <h5 class="card-subtitle mb-2">
            <%= mem_attribute_to_string.('start_date') %>
        </h5>
        <div class="card-text">
            <%= l membership.start_date %>
        </div>
    </div>
    <div class="col">
        <h5 class="card-subtitle mb-2">
            <%= mem_attribute_to_string.('end_date') %>
        </h5>
        <div class="card-text">
            <%= l membership.end_date %> (<%= num_to_human_days membership.num_of_days_til_renewal %>)
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <h5 class="card-subtitle mb-2">
            <%= mem_attribute_to_string.('user') %>
        </h5>
        <div class="card-text">
            <%= membership.user.full_name %>
        </div>
    </div>
    <div class="col">
        <h5 class="card-subtitle mb-2">
            <%= mem_attribute_to_string.('status') %>
        </h5>
        <div class="card-text">
            <%= membership.humanize_status %>
        </div>
    </div>
</div>

<% if current_staff.admin? %>
    <div class="row mb-4">
        <div class="col">
            <h5 class="card-subtitle mb-2">
                <%= mem_attribute_to_string.('staff') %>
            </h5>
            <div class="card-text">
                <%= membership.staff.full_name %>
            </div>
        </div>
    </div>
<% end %>
