<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0 fs-3 fw-semibold text-secondary">
        <%= model_to_string(Membership, 2) %>
    </p>

    <div class="d-flex align-items-center">
        <% count = Membership.count %>
        <p class="fs-3 fw-bold text-secondary mb-0"><%= count %></p>
        <span class="fs-6 fw-light ps-2 text-muted"><%= t('.registered', count:) %></span>
    </div>
</div>

<div class="bg-primary border border-secondary-subtle rounded-3 container">
    <%= render 'partials/search_form_users', path: memberships_path, frame: :memberships %>

    <%= turbo_frame_tag :memberships do %>
        <% mem_sortable_column = ->(col, title) { sortable_column(col, title, memberships_path, :memberships, @sort_by, @direction) } %>
        <div id="memberships" class="table-responsive">
            <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
                <table class="table table-borderless table-striped mb-0">
                    <thead class="table-secondary">
                        <tr class="fs-6">
                            <th><%= mem_sortable_column.call('name', User.human_attribute_name('name')) %></th>
                            <th><%= mem_sortable_column.call('surname', User.human_attribute_name('surname')) %></th>
                            <th><%= mem_sortable_column.call('start_date', Membership.human_attribute_name('start_date')) %></th>
                            <th><%= mem_sortable_column.call('end_date', Membership.human_attribute_name('end_date')) %></th>
                            <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @memberships.each do |membership| %>
                            <tr class="align-middle">

                                <!-- Name -->
                                <% user = membership.user %>
                                <td>
                                    <%= highlight user.name, params.dig(:name) %>
                                </td>

                                <!-- Surname -->
                                <td>
                                    <%= highlight user.surname, params.dig(:name) %>
                                </td>

                                <!-- Start Date -->
                                <td>
                                    <%= l membership.start_date %>
                                </td>

                                <!-- End Date -->
                                <td>
                                    <%= l membership.end_date %>
                                </td>

                                <!-- Action -->
                                <td class="text-end">
                                    <%= link_to membership,
                                                class: 'btn btn-info btn-sm border border-secondary-subtle',
                                                data: { turbo_frame: "_top" } do %>
                                        <i class="bi text-secondary bi-eye-fill"></i>
                                    <% end %>

                                    <%= link_to edit_membership_path(membership, user_id: user.id),
                                                class: 'btn btn-warning btn-sm border border-secondary-subtle',
                                                data: { turbo_frame: "_top" } do %>
                                        <i class="bi text-secondary bi-pencil-fill"></i>
                                    <% end %>

                                    <% if current_staff.admin? %>
                                        <%= button_to membership,
                                                      class: 'btn btn-danger btn-sm border border-secondary-subtle',
                                                      method: :delete,
                                                      data: { turbo_frame: "_top", turbo_confirm: t('global.destroy_dialog') },
                                                      form: {style: 'display:inline-block;'} do %>
                                            <i class="bi text-secondary bi-trash3-fill"></i>
                                        <% end %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
    <% end %>
</div>
