<div>
    <header>
        <h1>Gestione Memberships</h1>
        <p>Panoramica di tutte le membership attive e scadute</p>
    </header>

    <table>
        <thead>
            <tr>
                <th>Membro</th>
                <th>Piano</th>
                <th>Inizio</th>
                <th>Scadenza</th>
                <th>Stato</th>
                <th>Importo</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <% @memberships.each do |membership| %>
                <tr>
                    <td>
                        <%= link_to "#{membership.member.surname}, #{membership.member.name}", 
                        membership.member %>
                    </td>
                    <td><%= membership.pricing_plan.duration_description %></td>
                    <td><%= membership.start_date.strftime("%d/%m/%Y") %></td>
                    <td><%= membership.end_date.strftime("%d/%m/%Y") %></td>
                    <td>
                        <span><%= membership.status.humanize %></span>
                    </td>
                    <td>€ <%= number_with_precision(membership.amount_paid, precision: 2) %></td>
                    <td>
                        <%= link_to "Dettagli", membership %>
                        <%= link_to "Modifica", edit_membership_path(membership) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
