<div class="card" id="<%= dom_id @membership %>">
    <div class="card-header">
        <h1 class="card-title">
            <%= t '.title' %>
        </h1>
    </div>

    <!-- Card Body -->
    <div class="card-body">
        <%= render "renew_form", membership: @membership %>
    </div>

    <!-- Card Footer -->
    <div class="card-footer bg-light">
        <div class="d-flex justify-content-end">
            <%= link_to "Show this membership", @membership %> |
            <%= link_to "Ritorna alla lista utenti", users_path %>
        </div>
    </div>
</div>
