<div id="<%= dom_id subscription_history %>">
  <p>
    <strong>Renewal date:</strong>
    <%= subscription_history.renewal_date %>
  </p>

  <p>
    <strong>Old end date:</strong>
    <%= subscription_history.old_end_date %>
  </p>

  <p>
    <strong>New end date:</strong>
    <%= subscription_history.new_end_date %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= subscription_history.action %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= subscription_history.subscription_id %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= subscription_history.staff_id %>
  </p>

</div>
