<%= form_with(model: waitlist) do |form| %>
    <% if waitlist.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: waitlist.errors.count) %></h2>

            <ul>
                <% waitlist.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="row g-3 mb-2">
        <div class="col">
            <div class="d-flex">
                <%= form.label :name, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.text_field :name, required: true, placeholder: 'Cora', class: 'form-control', value: @user.present? ? @user.name : '' %>
        </div>
        <div class="col mb-2">
            <div class="d-flex">
                <%= form.label :last_name, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.text_field :last_name, required: true, placeholder: 'Trevisano', class: 'form-control', value: @user.present? ? @user.last_name : '' %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="d-flex">
                <%= form.label :phone, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.phone_field :phone, required: true, placeholder: '313 5041666', class: 'form-control', value: @user.present? ? @user.phone : '' %>
        </div>
    </div>

    <%= form.hidden_field :activity_id,
        value: @activity.id
    %>

    <div class="mt-4">
        <%= form.submit t('.add_user'), class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
