<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0 me-2 fs-3 fw-semibold text-secondary">
        <%= t '.title' %>
    </p>

    <div class="d-flex align-items-center">
        <p class="fs-3 fw-bold text-secondary mb-0"><%= number_to_currency @total %></p>
        <span class="fs-6 fw-light ps-2 text-muted"><%= t('.total') %></span>
    </div>
</div>

<div id="daily_cash">

    <!-- Morning -->
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0 me-2 fs-4 fw-semibold text-secondary">
                <%= t '.morning' %>
            </p>

            <div class="d-flex align-items-center">
                <p class="fs-3 fw-bold text-secondary mb-0"><%= number_to_currency @morning_cash %></p>
                <span class="fs-6 fw-light ps-2 text-muted">07-13</span>
            </div>
        </div>
        <%= render 'partials/payments_table', payments: @morning %>
        <%== pagy_bootstrap_nav(@pagy_morning) %>
    </div>

    <!-- Afternoon -->
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0 me-2 fs-4 fw-semibold text-secondary">
                <%= t '.afternoon' %>
            </p>

            <div class="d-flex align-items-center">
                <p class="fs-3 fw-bold text-secondary mb-0"><%= number_to_currency @afternoon_cash %></p>
                <span class="fs-6 fw-light ps-2 text-muted">15-21</span>
            </div>
        </div>
        <%= render 'partials/payments_table', payments: @afternoon %>
        <%== pagy_bootstrap_nav(@pagy_afternoon) %>
    </div>
</div>
