<% activity_sortable_column = ->(col, title) { sortable_column(col, title, activities_path, :activities, @sort_by, @direction) } %>
<%= content_for :header do %>
    <tr class="fs-6">
        <th style="width: 15%;"><%= activity_sortable_column.call('num_participants', t('.num_participants')) %></th>
        <th><%= activity_sortable_column.call('name', Activity.human_attribute_name('name')) %></th>
        <th class="text-primary fw-semibold text-end"><%= t 'global.table.action' %></th>
    </tr>
<% end %>

<%= render 'partials/table' do %>
    <% activities.each do |activity| %>
        <tr class="align-middle">
            <% partecipants = activity.subscriptions %>
            <% npartecipants = activity.num_participants %>

            <!-- Number  -->
            <td class="d-flex align-items-center">
                <!-- Add users to activity -->
                <% if npartecipants == 99 || (npartecipants != 99 && partecipants.length < npartecipants) %>
                    <%= link_to new_subscription_path(activity_id: activity), class: 'btn btn-success btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                        <i class="bi text-secondary bi-person-plus-fill"></i>
                    <% end %>
                <% else %>
                    <%= link_to new_waitlist_path(activity_id: activity), class: 'btn btn-info btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                        <i class="bi text-secondary bi-telephone-plus-fill"></i>
                    <% end %>
                <% end %>
                <div class="ms-3">
                    <% if partecipants %>
                        <% plen = partecipants.kept.count %>
                        <%= npartecipants == 99 ? "#{plen}" : "#{plen}/#{npartecipants}" %>
                    <% end %>
                </div>
            </td>

            <!-- Name -->
            <td>
                <%= highlight activity.name, params.dig(:name) %>
            </td>

            <!-- Action buttons -->
            <td class="text-end">
                <%= link_to activity_path(activity), class: 'btn btn-sm btn-info border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                    <i class="bi text-secondary bi-eye-fill"></i>
                <% end %>

                <% if current_staff.admin? %>
                    <%= link_to edit_activity_path(activity), class: 'btn btn-sm btn-warning border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                        <i class="bi text-secondary bi-pencil-fill"></i>
                    <% end %>

		    <% if activity.discarded? %>
			<%= button_to restore_activity_path(activity),
				      class: 'btn btn-restore btn-sm border border-secondary-subtle',
				      method: :patch,
				      data: { turbo_confirm: t('global.restore_dialog'), turbo_frame: "_top" },
				      form: {style: 'display:inline-block;'} do %>
			    <i class="bi bi-recycle"></i>
			<% end %>
		    <% else %>
                        <%= button_to activity_path(activity),
				      class: 'btn btn-sm btn-danger border border-secondary-subtle',
				      method: :delete,
				      data: { turbo_frame: "_top", turbo_confirm: t('global.delete_dialog') },
				      form: {style: 'display:inline-block;'} do %>
			    <i class="bi text-secondary bi-trash3-fill"></i>
                        <% end %>
		    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
<% end %>
