<style>
 .sidebar {
     height: 100vh;
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #f8f9fa;
     padding-top: 20px;
 }
 .content {
     margin-left: 250px;
     padding: 20px;
 }
</style>

<% if staff_signed_in? %>
    <div class="sidebar">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">

                    <%= link_to "ASD Querini Fit", users_path, { class: 'navbar-brand list-group-item list-group-item-action py-2 ripple', "aria-current" => true } %>

                    <%= link_to users_path,  class: 'list-group-item list-group-item-action py-2 ri' do %>
                        <i class="bi bi-people-fill"></i> Utenti
                    <% end %>

                    <%= link_to staffs_path,  class: 'list-group-item list-group-item-action py-2' do %>
                        <i class="bi bi-person-workspace"></i> Staff
                    <% end %>

                    <%= link_to activities_path,  class: 'list-group-item list-group-item-action py-2' do %>
                        <i class="bi bi-activity"></i> Attività
                    <% end %>

                </div>

                <!-- TODO -->
                <%= button_to "logout", destroy_staff_session_path, method: :delete, class: 'btn btn-outline-danger' %>

            </div>
        </nav>
    </div>
<% end %>
