<% payment_sortable_column = ->(col, title) { sortable_column(col, title, payments_path, frame, @sort_by, @direction) } %>
<div class="table-responsive">
    <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
        <table class="table table-borderless table-striped mb-0">
            <thead class="table-secondary">
                <tr class="fs-6">
                    <th><%= payment_sortable_column.call('date', Payment.human_attribute_name('date')) %></th>
                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('payable_type') %></th>
                    <th><%= payment_sortable_column.call('amount', Payment.human_attribute_name('amount')) %></th>
                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('payment_method') %></th>
                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('note') %></th>
                    <th><%= payment_sortable_column.call('staff', Payment.human_attribute_name('staff')) %></th>
                    <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
                </tr>
            </thead>

            <tbody>
                <% payments.each do |payment| %>
                    <tr class="align-middle">

                        <!-- Created At -->
                        <td>
                            <%= l payment.created_at, format: :short %>
                        </td>

                        <!-- Payable Type -->
                        <td>
                            <%= payment.humanize_payable_type %>
                        </td>

                        <!-- Amount -->
                        <td>
                            <%= number_to_currency payment.amount %>
                        </td>

                        <!-- Payment Method -->
                        <td>
                            <%= payment.humanize_payment_method %>
                        </td>

                        <!-- Note -->
                        <td>
                            <span class="d-inline-block text-truncate" style="max-width: 250px;">
                                <%= highlight payment.note, params.dig(:name) %>
                            </span>
                        </td>

                        <!-- Staff -->
                        <% staff = payment.staff %>
                        <td>
                            <%= highlight staff.nickname, params.dig(:name) %>
                        </td>

                        <!-- Action buttons -->
                        <td class="text-end">
                            <%= link_to payment, class: 'btn btn-info btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                <i class="bi text-secondary bi-eye-fill"></i>
                            <% end %>

                            <% if current_staff.admin? %>
                                <%= link_to edit_payment_path(payment), class: 'btn btn-warning btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                    <i class="bi text-secondary bi-pencil-fill"></i>
                                <% end %>

                                <%= button_to payment, class: 'btn text-secondary btn-danger btn-sm border border-secondary-subtle', method: :delete, data: { turbo_frame: "_top", turbo_confirm: t('global.delete_dialog') }, form: {style: 'display:inline-block;'} do %>
                                    <i class="bi bi-trash3-fill"></i>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
