<% payment_sortable_column = ->(col, title) { sortable_column(col, title, path, frame, @sort_by, @direction) } %>
<div class="table-responsive">
    <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
        <table class="table table-borderless table-striped mb-0">
            <thead class="table-secondary">
                <tr class="fs-6">
                    <th><%= payment_sortable_column.call('created_at', Payment.human_attribute_name('date')) %></th>
                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('payable_type') %></th>
                    <th class="text-primary fw-semibold"><%= User.human_attribute_name('name') %></th>
                    <th class="text-primary fw-semibold"><%= User.human_attribute_name('surname') %></th>
                    <th><%= payment_sortable_column.call('amount', Payment.human_attribute_name('amount')) %></th>
                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('method') %></th>
                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('note') %></th>
                    <th><%= payment_sortable_column.call('staff', Payment.human_attribute_name('staff')) %></th>
                    <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
                </tr>
            </thead>

            <tbody>
                <% payments.each do |payment| %>
                    <tr class="align-middle">

                        <!-- Created At -->
                        <td>
                            <%= l payment.created_at, format: fmt %>
                        </td>

                        <!-- Payable Type -->
                        <td>
                            <%= payment.humanize_payable_type %>
                        </td>

                        <% user = payment.muser || payment.suser %>
                        <% if user.present? %>
                            <!-- User name -->
                            <td>
                                <%= user.name %>
                            </td>

                            <!-- User surname -->
                            <td>
                                <%= user.surname %>
                            </td>
                        <% else %>
                            <!-- User name -->
                            <td></td>

                            <!-- User surname -->
                            <td></td>
                        <% end %>

                        <!-- Amount -->
                        <td>
                            <%= number_to_currency payment.amount %>
                        </td>

                        <!-- Payment Method -->
                        <td>
                            <%= payment.humanize_payment_method %>
                        </td>

                        <!-- Note -->
                        <td>
                            <%= highlight truncate(payment.note, lenght: 50), params.dig(:name) %>
                        </td>

                        <!-- Staff -->
                        <% staff = payment.staff %>
                        <td>
                            <%= highlight staff.nickname, params.dig(:name) %>
                        </td>

                        <!-- Action buttons -->
                        <td class="text-end">
                            <%= link_to payment, class: 'btn btn-info btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                <i class="bi text-secondary bi-eye-fill"></i>
                            <% end %>

                            <% if current_staff.admin? %>
                                <%= link_to edit_payment_path(payment), class: 'btn btn-warning btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                    <i class="bi text-secondary bi-pencil-fill"></i>
                                <% end %>

                                <% if payment.discarded? %>
                                    <%= button_to restore_payment_path(payment),
                                                  class: 'btn btn-restore btn-sm border border-secondary-subtle',
                                                  method: :patch,
                                                  data: { turbo_confirm: t('global.restore_dialog'), turbo_frame: "_top" },
                                                  form: {style: 'display:inline-block;'} do %>
                                        <i class="bi bi-recycle"></i>
                                    <% end %>
                                <% else %>
                                    <%= button_to payment,
                                                  class: 'btn text-secondary btn-danger btn-sm border border-secondary-subtle',
                                                  method: :delete,
                                                  data: { turbo_frame: "_top", turbo_confirm: t('global.delete_dialog') },
                                                  form: {style: 'display:inline-block;'} do %>
                                        <i class="bi bi-trash3-fill"></i>
                                    <% end %>
                                <% end %>

                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
