<!-- Sidebar -->
<div class="sidebar bg-dark text-white p-3 d-flex flex-column justify-content-between position-fixed" style="width: 220px; height: 100vh;">
    <nav id="sidebarMenu" class="d-lg-block">
        <div class="position-sticky">
            <!-- Brand -->
            <div class="mb-4">
                <%= link_to "ASD Querini Fit", users_path, class: 'navbar-brand list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center fs-4'%>
            </div>

            <!-- Sidebar Links -->
            <div class="list-group list-group-flush">
                <%= link_to users_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-people-fill me-2"></i> <%= User.model_name.human(count: 2) %>
                <% end %>

                <%= link_to legal_guardians_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-person-fill me-2"></i> <%= LegalGuardian.model_name.human(count: 2) %>
                <% end %>

                <% if current_staff && current_staff.admin? %>
                    <%= link_to staffs_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                        <i class="bi bi-person-workspace me-2"></i> <%= Staff.model_name.human(count: 2) %>
                    <% end %>
                <% end %>

                <%= link_to activities_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-activity me-2"></i> <%= Activity.model_name.human %>
                <% end %>

                <%= link_to subscriptions_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-clipboard-data-fill me-2"></i> <%= Subscription.model_name.human(count: 2) %>
                <% end %>

                <%= link_to memberships_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-pie-chart-fill me-2"></i> <%= Membership.model_name.human(count: 2) %>
                <% end %>

                <%= link_to payments_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-cash-stack me-2"></i> <%= Payment.model_name.human(count: 2) %>
                <% end %>

                <%= link_to daily_cash_index_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-cash-coin me-2"></i> <%= t 'global.daily_cash' %>
                <% end %>
            </div>
        </div>
    </nav>

    <!-- Bottone di logout -->
    <div class="mt-4">
        <p class="text-center">
            <%= link_to current_staff, class: 'link-offset-2 link-underline link-underline-opacity-0 link-info mb-2' do %>
                <i class="bi bi-person-badge-fill"></i> <%= current_staff.nickname %>
            <% end %>
        </p>
        <%= button_to "Logout", destroy_staff_session_path, method: :delete, class: 'btn btn-outline-danger w-100' %>
    </div>
</div>
