<!-- Sidebar -->
<div class="sidebar bg-dark text-white p-3 d-flex flex-column justify-content-between vh-100">
    <nav id="sidebarMenu" class="d-lg-block">
        <div class="position-sticky">
            <!-- Brand -->
            <div class="mb-4">
                <%= link_to users_path, class: 'navbar-brand list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center fs-4' do %>
                    <i class="bi bi-house-door me-2"></i>
                    <span>Querini Fit</span>
                <% end %>
            </div>

            <!-- Sidebar Links -->
            <div class="list-group list-group-flush">
                <%= link_to users_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-people-fill me-2"></i> <%= t('global.user') %>
                <% end %>

                <% if current_staff && current_staff.admin? %>
                    <%= link_to staffs_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                        <i class="bi bi-person-workspace me-2"></i> <%= t('global.staff') %>
                    <% end %>
                <% end %>

                <%= link_to activities_path, class: 'list-group-item list-group-item-action bg-dark text-white py-2 d-flex align-items-center' do %>
                    <i class="bi bi-activity me-2"></i> <%= t('global.activity') %>
                <% end %>
            </div>
        </div>
    </nav>

    <!-- Bottone di logout -->
    <div class="mt-4">
        <%= button_to "Logout", destroy_staff_session_path, method: :delete, class: 'btn btn-outline-danger w-100' %>
    </div>
</div>
