<% user_sortable_column = ->(col, title) { sortable_column(col, title, users_path, :users, @sort_by, @direction) } %>
<%= content_for :header do %>
    <tr class="fs-6">
        <th class="text-primary text-begin fw-semibold"><%= t 'global.table.status' %></th>
        <th><%= user_sortable_column.call('name', User.human_attribute_name('name')) %></th>
        <th><%= user_sortable_column.call('surname', User.human_attribute_name('surname')) %></th>
        <th><%= user_sortable_column.call('birth_day', User.human_attribute_name('birth_day')) %></th>
        <th class="text-primary fw-semibold"><%= User.human_attribute_name('membership') %></th>
        <th class="text-primary fw-semibold"><%= User.human_attribute_name('activity') %></th>
        <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
    </tr>
<% end %>

<%= render 'partials/table' do %>
    <% users.each do |user| %>
        <tr class="align-middle">
            <td class="text-begin">
                <% compliance = user.verify_compliance %>
                <% count = compliance&.size %>
                <% is_compliance = compliance.empty? %>
                <div
                    data-controller="popover"
                    data-popover-title="<%= t('users.index.popover', count: count) %>"
                    data-popover-content="<%= compliance.join(", ") %>"
                >
                    <span
                        data-popover-target="button"
                        class="btn border border-secondary-subtle badge rounded-pill text-bg-<%= is_compliance ? 'success' : 'warning' %>"
                    >
                        <% if is_compliance %>
                            <%= icon("user_ok", size: 16, aria_label: "user has ok info svg") %>
                        <% else %>
                            <%= icon("user_alert", size: 16, aria_label: "user has missing info svg") %>
                        <% end %>
                    </span>
                </div>
            </td>

            <!-- Name -->
            <td>
                <%= highlight user.name, params.dig(:name) %>
            </td>

            <!-- Surname -->
            <td>
                <%= highlight user.surname, params.dig(:name) %>
            </td>

            <!-- Birth Day -->
            <td>
                <%= user.birth_day ? l(user.birth_day, format: :default) : nil %>
            </td>

            <!-- Membership -->
            <td>
                <%= presenter_button(MembershipPresenter.new(user.membership), obj: user) %>
            </td>

            <!-- Activities -->
            <td>
                <% subs = user.subscriptions.kept.where.missing(:normal_subscription) %>
                <%= add_button_to new_subscription_path(user_id: user.id),
                                  text: subs.nil? || subs.empty? ? t('activities.activity.add_to_activity') : nil,
                                  size: 16,
                                  classes: "btn-sm rounded-pill badge"
                %>

                <% subs.each do |sub| %>
                    <%= presenter_button(SubscriptionPresenter.new(sub), obj: user) %>
                <% end %>
            </td>

            <!-- Action buttons REFERENCE -->
            <td class="d-flex gap-1 justify-content-end">
                <% classes = "btn-sm" %>
                <%= view_button_to([ user ], size: 16, classes: ) %>
                <%= edit_button_to([ :edit, user ], size: 16, classes: ) %>

                <% if user.discarded? %>
                    <%= restore_button_to(user, id: "#{user.id}_restore_button", size: 16, classes: ) %>
                <% else %>
                    <%= delete_button_to(user, id: "#{user.id}_delete_button", size: 16, classes: ) %>
                <% end %>
            </td>
        </tr>
    <% end %>
<% end %>
