<% user_sortable_column = ->(col, title) { sortable_column(col, title, users_path, :users, @sort_by, @direction) } %>
<%= content_for :header do %>
    <tr class="fs-6">
        <th class="text-primary text-begin fw-semibold"><%= t 'global.table.status' %></th>
        <th><%= user_sortable_column.call('name', User.human_attribute_name('name')) %></th>
        <th><%= user_sortable_column.call('surname', User.human_attribute_name('surname')) %></th>
        <th><%= user_sortable_column.call('birth_day', User.human_attribute_name('birth_day')) %></th>
        <th class="text-primary fw-semibold"><%= User.human_attribute_name('membership') %></th>
        <th class="text-primary fw-semibold"><%= User.human_attribute_name('activity') %></th>
        <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
    </tr>
<% end %>

<%= render 'partials/table' do %>
    <% users.each do |user| %>
        <tr class="align-middle">
            <td class="text-begin">
                <% compliance = user.verify_compliance %>
                <% count = compliance&.size %>
                <% is_compliance = compliance.empty? %>
                <div
                    data-controller="popover"
                    data-popover-title="<%= t('users.index.popover', count: count) %>"
                    data-popover-content="<%= compliance.join(", ") %>"
                >
                    <span
                        data-popover-target="button"
                        class="btn border border-secondary-subtle badge rounded-pill text-bg-<%= is_compliance ? 'success' : 'warning' %>"
                    >
                        <i class="text-secondary bi bi-person-fill-<%= is_compliance ? 'check' : 'exclamation' %>"></i>
                    </span>
                </div>
            </td>

            <!-- Name -->
            <td>
                <%= highlight user.name, params.dig(:name) %>
            </td>

            <!-- Surname -->
            <td>
                <%= highlight user.surname, params.dig(:name) %>
            </td>

            <!-- Birth Day -->
            <td>
                <%= user.birth_day ? l(user.birth_day, format: :default) : nil %>
            </td>

            <!-- Membership -->
            <td>
                <% presenter = MembershipPresenter.new(user.membership) %>
                <%= link_to presenter.appropriate_path(user),
			    method: presenter.method,
			    class: "btn btn-#{presenter.css_color} text-secondary border border-secondary-subtle badge rounded-pill",
			    data: { turbo_method: presenter.method, turbo_frame: "_top" } do %>
                    <i class="<%= presenter.link_icon %>"></i>
                    <%= presenter.link_title %>
                <% end %>
            </td>

            <!-- Activities -->
            <td>
                <% subs = user.subscriptions.kept.where.missing(:normal_subscription) %>
                <% if subs.nil? || subs.empty? %>
                    <%= link_to new_subscription_path(user_id: user.id),
                                class: "btn btn-dark text-secondary border border-secondary-subtle badge rounded-pill",
                                data: { turbo_frame: "_top" } do %>
                      <i class="me-2 text-secondary bi bi-plus-circle-fill"></i> <%= t('activities.activity.add_to_activity') %>
                    <% end %>
                  <% else %>
                    <% subs.each do |sub| %>
                      <% presenter = SubscriptionPresenter.new(sub) %>
                      <%= link_to presenter.appropriate_path(user),
                                  method: presenter.method,
                                  class: "btn btn-#{ presenter.css_color } text-secondary border border-secondary-subtle badge rounded-pill",
                                  data: { turbo_method: presenter.method, turbo_frame: "_top" } do %>
                        <i class="<%= presenter.link_icon %>"></i> <%= presenter.link_title %>
                      <% end %>
                    <% end %>
                <% end %>
            </td>

            <!-- Action buttons -->
            <td class="text-end">
                <%= link_to user, class: 'btn btn-view btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                    <i class="bi text-secondary bi-eye-fill"></i>
                <% end %>

                <%= link_to edit_user_path(user), class: 'btn btn-edit btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                    <i class="bi text-secondary bi-pencil-fill"></i>
                <% end %>

		<% if user.discarded? %>
		    <%= button_to restore_user_path(user),
				  class: 'btn btn-restore btn-sm border border-secondary-subtle',
				  method: :patch,
				  data: { turbo_confirm: t('global.restore_dialog'), turbo_frame: "_top" },
				  form: {style: 'display:inline-block;'} do %>
			<i class="bi bi-recycle"></i>
		    <% end %>
		<% else %>
		    <%= button_to user_path(user),
                                  class: 'btn btn-delete text-secondary btn-sm border border-secondary-subtle',
                                  method: :delete,
                                  data: { turbo_confirm: t('global.delete_dialog'), turbo_frame: "_top" },
                                  form: {style: 'display:inline-block;'} do %>
                        <i class="bi bi-trash3-fill"></i>
		    <% end %>
		<% end %>
            </td>
        </tr>
    <% end %>
<% end %>
