<%= form_with(model: activity_plan) do |form| %>
    <% if activity_plan.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: activity_plan.errors.count) %></h2>
            <ul>
                <% activity_plan.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= form.label :plan, style: "display: block" %>
        <%= form.select :plan,
            [
                ["1 Entrata", :one_entrance],
                ["1/2 Mese", :half_month],
                ["1 Mese", :one_month],
                ["1 Mese, 1 volta a settimana", :one_month_one_lesson],
                ["1 Mese, 2 volta a settimana", :one_month_two_lessons],
                ["3 Mesi", :three_months],
                ["1 Anno", :one_year],
            ] %>
    </div>

    <div>
        <%= form.label :cost, style: "display: block" %>
        <%= form.text_field :cost %>
    </div>

    <div>
        <%= form.label :affiliated_cost, style: "display: block" %>
        <%= form.text_field :affiliated_cost %>
    </div>

    <%= form.hidden_field :activity_id %>

    <div>
        <%= form.submit %>
    </div>
<% end %>
