<%= form_with(model: activity_plan) do |form| %>
    <% if activity_plan.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: activity_plan.errors.count) %></h2>
            <ul>
                <% activity_plan.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row mb-3">
        <div>
            <%= form.label :plan, class: 'form-label' %>
            <%= form.select :plan, ActivityPlan.humanize_plans, {}, { class: 'form-select' } %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <%= form.label :cost, class: 'form-label' %>
            <%= form.number_field :cost, class: 'form-control', step: 'any', autofocus: true %>
        </div>

        <div class="col">
            <%= form.label :affiliated_cost, class: 'form-label' %>
            <%= form.number_field :affiliated_cost, class: 'form-control' %>
        </div>

        <%= form.hidden_field :activity_id %>
    </div>

    <div>
        <%= form.submit class: 'btn btn-success w-100' %>
    </div>
<% end %>
