<%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: user.errors.count) %></h2>

            <ul>
                <% user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :cf, class: 'form-label' %>
        <%= form.text_field :cf, class: 'form-control' %>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :name, class: 'form-label' %>
                <%= form.text_field :name, required: true, autofocus: true, class: 'form-control' %>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <%= form.label :surname, class: 'form-label' %>
                <%= form.text_field :surname, required: true, class: 'form-control' %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :date_of_birth, class: 'form-label' %>
                <%= form.date_field :date_of_birth, class: 'form-control' %>
            </div>
        </div>
        <div class="col">
            <!-- TODO align center -->
            <div class="form-check mb-3">
                <%= form.check_box :affiliated, class: 'form-check-input' %>
                <%= form.label :affiliated, class: 'form-check-label' %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :email, class: 'form-label' %>
                <%= form.text_field :email, class: 'form-control' %>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <%= form.label :phone, class: 'form-label' %>
                <%= form.text_field :phone, class: 'form-control' %>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <%= form.label :med_cert_issue_date, class: 'form-label' %>
        <%= form.date_field :med_cert_issue_date, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= form.label :legal_guardian_id, class: 'form-label' %>
        <%= form.collection_select :legal_guardian_id, LegalGuardian.all, :id, :full_name, {}, { prompt: true, class: 'form-select' } %>
    </div>

    <div class="actions">
        <%= form.submit class: 'btn btn-success w-100' %>
    </div>
<% end %>
