<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cf, 'Codice Fiscale', style: "display: block" %>
    <%= form.text_field :cf %>
  </div>

  <div>
    <%= form.label :name, 'Nome', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname, 'Cognome', style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, 'Cellulare', style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :date_of_birth, 'Data di Nascita', style: "display: block" %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div>
    <%= form.label :med_cert_issue_date, 'Data rilascio certificato medico', style: "display: block" %>
    <%= form.date_field :med_cert_issue_date %>
  </div>

  <div>
    <%= form.label :affiliated, 'Convenzionato', style: "display: block" %>
    <%= form.check_box :affiliated %>
  </div>

  <div>
      <%= form.label :legal_guardian_id, 'Tutore Legale', style: "display: block" %>
      <%= form.text_field :legal_guardian_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
