<%= form_with(model: user, data: { controller: 'agecheck' }) do |form| %>
    <% if user.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: user.errors.count) %></h2>
            <ul>
                <% user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row g-3 mb-2">
        <div class="col">
            <div class="d-flex">
                <%= form.label :cf, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.text_field :cf, required: true, autofocus: true, maxlenght: 16, placeholder: 'TRVCRO89C45L736F', class: 'form-control' %>
        </div>
        <div class="col">
            <%= form.label :birth_day, class: 'form-label fw-semibold text-secondary' %>
            <%= form.date_field :birth_day,
                min: 90.years.ago,
                max: 2.years.ago,
                class: 'form-control',
                'data-agecheck-target' => "birthDate",
                data: { action: "change->agecheck#checkAge" } %>
        </div>
    </div>

    <div class="row g-3 mb-2">
        <div class="col">
            <div class="d-flex">
                <%= form.label :name, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.text_field :name, required: true, placeholder: 'Cora', class: 'form-control' %>
        </div>
        <div class="col">
            <div class="d-flex">
                <%= form.label :surname, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.text_field :surname, required: true, placeholder: 'Trevisano', class: 'form-control' %>
        </div>
    </div>

    <div class="row g-3 mb-2">
        <div class="col">
            <%= form.label :med_cert_issue_date, class: 'form-label fw-semibold text-secondary' %>
            <%= form.date_field :med_cert_issue_date, max: Time.zone.today, class: 'form-control' %>
        </div>
        <div class="col align-self-center mt-5">
            <div class="form-check">
                <%= form.check_box :affiliated, class: 'form-check-input' %>
                <%= form.label :affiliated, class: 'form-check-label fw-semibold text-secondary' %>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-2">
        <div class="col">
            <%= form.label :email, class: 'form-label fw-semibold text-secondary' %>
            <%= form.email_field :email, placeholder: 'cora.trevisano@esempio.org', class: 'form-control' %>
        </div>
        <div class="col">
            <%= form.label :phone, class: 'form-label fw-semibold text-secondary' %>
            <%= form.phone_field :phone, placeholder: '313 5041666', class: 'form-control' %>
        </div>
    </div>

    <!-- Target del tutore legale -->
    <div id="legal-guardian-fields" class="mb-3" data-agecheck-target="guardianSection" style="display: none;">

        <div class="container py-1">
            <hr>
        </div>

        <p class="fs-5 fw-semibold text-secondary">
            <%= t('.legal_guardians_data') %>
        </p>

        <%= form.fields_for :legal_guardian, include_id: false do |guardian_form| %>
            <div data-controller="legalguardian">

                <!-- Email and Phone -->
                <div class="row g-3 mb-2">
                    <div class="col">
                        <%= guardian_form.label :email, t('.lg_email'), class: 'form-label fw-semibold text-secondary' %>
                        <%= guardian_form.email_field :email,
                           placeholder: 'mario.rossi@esempio.org',
                           class: 'form-control',
                           value: @legal_guardian&.email,
                           'data-legalguardian-target' => "email",
                           data: { action: "change->legalguardian#findGuardian" } %>
                    </div>
                    <div class="col">
                        <%= guardian_form.label :phone, t('.lg_phone'), class: 'form-label fw-semibold text-secondary' %>
                        <%= guardian_form.phone_field :phone,
                            placeholder: '336 4889120',
                            class: 'form-control',
                            value: @legal_guardian&.phone,
                            'data-legalguardian-target' => "phone"
                        %>
                    </div>
                </div>

                <!-- Name and Surname -->
                <div class="row g-3 mb-2">
                    <div class="col">
                        <%= guardian_form.label :name, t('.lg_name'), class: 'form-label fw-semibold text-secondary' %>
                        <%= guardian_form.text_field :name,
                            placeholder: 'Mario',
                            class: 'form-control',
                            value: @legal_guardian&.name,
                            'data-legalguardian-target' => "name"
                        %>
                    </div>
                    <div class="col">
                        <%= guardian_form.label :surname, t('.lg_surname'), class: 'form-label fw-semibold text-secondary' %>
                        <%= guardian_form.text_field :surname,
                            placeholder: 'Rossi',
                            class: 'form-control',
                            value: @legal_guardian&.surname,
                            'data-legalguardian-target' => "surname"
                        %>
                    </div>
                    <div class="col">
                        <%= guardian_form.label :birth_day, t('.lg_birth_day'), class: 'form-label fw-semibold text-secondary' %>
                        <%= guardian_form.date_field :birth_day,
                         class: 'form-control',
                            max: 18.years.ago,
                            min: 100.years.ago,
                            value: @legal_guardian&.birth_day,
                            'data-legalguardian-target' => "birthDay"
                        %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
