<div id="<%= dom_id user %>">
    <p>
        <strong>Codice Fiscale:</strong>
        <%= user.cf %>
    </p>

    <p>
        <strong>Nome:</strong>
        <%= user.name %>
    </p>

    <p>
        <strong>Cognome:</strong>
        <%= user.surname %>
    </p>

    <p>
        <strong>Email:</strong>
        <%= user.email.nil? ? 'Da inserire!' : user.email %>
    </p>

    <p>
        <strong>Cellulare:</strong>
        <%= user.phone.nil? ? 'Da inserire!' : user.phone %>
    </p>

    <p>
        <strong>Data di nascita:</strong>
        <%= user.date_of_birth %>
    </p>

    <p>
        <strong>Eta':</strong>
        <%= user.age %> anni
    </p>

    <p>
        <strong>Convenzionato:</strong>
        <%= user.affiliated ? 'Si' : 'No' %>
    </p>

    <p>
        <strong>Data rilascio certificato medico:</strong>
        <%= user.med_cert_issue_date.nil? ? 'Da inserire!' : user.med_cert_issue_date %>
    </p>

    <% if user.minor? %>
        <p>
            <strong>Tutore legale:</strong>
            <%= user.legal_guardian.nil? ? 'Da inserire!' : user.legal_guardian.full_name %>
        </p>
    <% end %>

</div>
