<ul class="nav nav-pills pb-3 gap-2" id="pills-tab" role="tablist">

    <!-- Personal Data -->
    <li class="nav-item" role="presentation">
        <button class="nav-link border border-secondary-subtle fs-5 active"
                id="pills-personal-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-personal"
                type="button"
                role="tab"
                aria-controls="pills-personal"
                aria-selected="true">
            <%= t '.personal_data' %>
        </button>
    </li>

    <!-- Membership -->
    <li class="nav-item" role="presentation">
        <button class="nav-link border border-secondary-subtle fs-5"
                id="pills-membership-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-membership"
                type="button"
                role="tab"
                aria-controls="pills-membership"
                aria-selected="false">
            <%= t '.membership' %>
        </button>
    </li>

    <!-- Subscriptions -->
    <li class="nav-item" role="presentation">
        <button class="nav-link border border-secondary-subtle fs-5"
                id="pills-subscription-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-subscription"
                type="button"
                role="tab"
                aria-controls="pills-subscription"
                aria-selected="false">
            <%= t '.subs' %>
        </button>
    </li>

    <!-- Payments -->
    <% if user.has_payments? %>
        <li class="nav-item" role="presentation">
            <button class="nav-link border border-secondary-subtle fs-5"
                    id="pills-subscription-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-payment"
                    type="button"
                    role="tab"
                    aria-controls="pills-payment"
                    aria-selected="false">
                <%= t '.payments' %>
            </button>
        </li>
    <% end %>
</ul>

<!-- Tab List Body -->
<div class="tab-content" id="pills-tabContent">

    <!-- Personal Tab Content -->
    <div class="tab-pane fade show active"
         id="pills-personal"
         role="tabpanel"
         aria-labelledby="pills-personal-tab"
         tabindex="0">

        <!-- Personal Data -->
        <% user_attribute_to_string = ->(attr) { attribute_to_string(user, attr) } %>
        <div class="row mb-2">

            <!-- Full Name -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= t 'global.full_name' %>
                </p>
                <p class="fs-5 fw-semibold text-secondary">
                    <%= user.full_name %>
                </p>
            </div>

            <!-- Birth Day -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= user_attribute_to_string.('birth_day') %>
                </p>

                <% birth_day_present = user.birth_day.present? %>
                <p class="fs-5 fw-semibold <%= birth_day_present ? 'text-secondary' : 'text-warning' %>" >
                    <% if birth_day_present %>
                        <%= l user.birth_day %> (<%= num_to_human_years user.age %>)
                    <% else %>
                        <%= t('empty') %>
                    <% end %>
                </p>
            </div>

            <!-- CF -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= user_attribute_to_string.('cf') %>
                </p>

                <% cf_present = user.cf.present? %>
                <p class="fs-5 fw-semibold <%= cf_present ? 'text-secondary' : 'text-warning' %> ">
                    <% if cf_present %>
                        <%= user.cf %>
                    <% else %>
                        <%= t('empty') %>
                    <% end %>
                </p>
            </div>
        </div>

        <div class="row mb-2">

            <!-- Email -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= user_attribute_to_string.('email') %>
                </p>

                <% email_present = user.email.present? %>
                <p class="fs-5 fw-semibold <%= email_present ? 'text-secondary' : 'text-warning' %> ">
                    <% if email_present %>
                        <%= user.email %>
                    <% else %>
                        <%= t('empty') %>
                    <% end %>
                </p>
            </div>

            <!-- Phone -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= user_attribute_to_string.('phone') %>
                </p>

                <% phone_present = user.phone.present? %>
                <p class="fs-5 fw-semibold <%= phone_present ? 'text-secondary' : 'text-warning' %> ">
                    <% if phone_present %>
                        <%= phone_to_string user.phone %>
                    <% else %>
                        <%= t('empty') %>
                    <% end %>
                </p>
            </div>

            <!-- Affiliated -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= user_attribute_to_string.('affiliated') %>
                </p>
                <p class="fs-5 fw-semibold text-secondary">
                    <%= t user.affiliated %>
                </p>
            </div>
        </div>

        <!-- Cert med -->
        <div class="row">
            <div class="col-md-4">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= t '.med_cert' %>
                </p>

                <% med = user.med_cert_issue_date %>
                <p class="fs-5 fw-semibold <%= med.blank? ? 'text-warning' : 'text-secondary' %>">

                    <% if med.present? %>
                        <%= l med %> (<%= distance_of_time_in_words_to_now user.med_cert_exp_date %>)
                    <% else %>
                        <%= t 'empty' %>
                    <% end %>
                </p>
            </div>

            <% if user.legal_guardian.present? %>

                <!-- Legal Guardian -->
                <div class="col">
                    <% lg = user.legal_guardian %>
                    <p class="fs-6 fw-light text-muted mb-2">
                        <%= t '.legal_guardian' %>
                    </p>

                    <%= link_to "#{lg.full_name}",  legal_guardian_path(lg), class: 'fs-5 fw-semibold link-secondary link-underline-dark link-offset-2' %>
                </div>
            <% end %>
        </div>

    </div>

    <!-- Membership Tab Content -->
    <div class="tab-pane fade"
         id="pills-membership"
         role="tabpanel"
         aria-labelledby="pills-membership-tab"
         tabindex="1">

        <% membership = user.membership %>
        <% presenter = MembershipPresenter.new(membership) %>
        <% membership_attribute_to_string = ->(attr) { attribute_to_string(membership, attr) } %>

        <% if membership.present? %>
            <div class="row mb-2">
                <div class="col">
                    <p class="fs-6 fw-light text-muted mb-2">
                        <%= membership_attribute_to_string.('start_date') %>
                    </p>
                    <p class="fs-5 fw-semibold text-secondary">
                        <%= l membership.start_date, format: :default %>
                    </p>
                </div>
                <div class="col">
                    <p class="fs-6 fw-light text-muted mb-2">
                        <%= membership_attribute_to_string.('end_date') %>
                    </p>
                    <p class="fs-5 fw-semibold text-secondary">
                        <%= l membership.end_date, format: :default %> (<%= num_to_human_days membership.num_of_days_til_renewal %>)
                    </p>
                </div>

                <div class="col">
                    <p class="fs-6 fw-light text-muted mb-1">
                        <%= membership_attribute_to_string.('status') %>
                    </p>

		    <% presenter = MembershipPresenter.new(user.membership) %>
		    <%= link_to presenter.appropriate_path(user),
				method: presenter.method,
				class: "btn btn-#{presenter.css_color} fs-6 border border-secondary-subtle fw-semibold text-secondary",
				data: { turbo_method: presenter.method, turbo_frame: "_top" } do %>
			<i class="<%= presenter.link_icon %>"></i>
			<%= presenter.link_title %>
		    <% end %>
                </div>
            </div>


            <% if current_staff.admin? %>

                <div class="container-fluid py-1">
                    <hr>
                </div>

                <% staff = membership.staff %>
                <div class="row mb-2">
                    <div class="col">
                        <p class="fs-6 fw-light text-muted mb-2">
                            <%= user_attribute_to_string.('staff') %>
                        </p>
                        <div class="card-text">
                            <%= link_to "#{staff.nickname}", staff, class: 'fs-5 fw-semibold link-secondary link-underline-dark link-offset-2' %>
                        </div>
                    </div>

                    <div class="col">
                        <p class="fs-6 fw-light text-muted mb-2">
                            <%= user_attribute_to_string.('updated_at') %>
                        </p>
                        <div class="fs-5 fw-semibold text-secondary">
                            <%= l membership.updated_at, format: :long %>
                        </div>
                    </div>

                    <div class="col">
                        <p class="fs-6 fw-light text-muted mb-2">
                            <%= user_attribute_to_string.('created_at') %>
                        </p>
                        <div class="fs-5 fw-semibold text-secondary">
                            <%= l membership.created_at, format: :long %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>

            <div class="d-flex align-items-center justify-content-between">
                <p class="fs-5 fw-light text-secondary me-3 mb-0">
                    <%= t('.no_membership') %>
                </p>

                <%= link_to new_membership_path(user_id: user&.id), class: "btn border border-secondary-subtle fs-6 text-secondary bg-dark" do %>
                    <i class="text-secondary bi bi-plus-lg"></i>
		    <span class="ms-1">
			<%= t('.add_membership') %>
		    </span>
                <% end %>
            </div>

        <% end %>
    </div>

    <!-- Subscription Tab Content -->
    <div class="tab-pane fade"
         id="pills-subscription"
         role="tabpanel"
         aria-labelledby="pills-subscription-tab"
         tabindex="2">


        <!-- Subscriptions -->
        <% if user.subscriptions.length > 0 %>

	    <div class="d-flex align-items-center">
		<div class="flex-fill">
		    <!-- Search form -->
		    <%= render 'partials/search_form', loc: t('global.search_activity'), path: user_path, frame: :usersubscriptions, size: '500px', ctrls: 'filters' do |f| %>
			<div class="row g-2 mb-2">
			    <!-- Activity ID -->
			    <div class="col">
				<%= f.label :activity_id, t('global.activity_name'), class: 'form-label fw-semibold text-secondary' %>
				<%= f.select :activity_id, @activities, { prompt: t('global.all-s') },
				 class: 'form-select', data: { action: 'change->filters#submit' } %>
			    </div>

			    <!-- OPEN -->
			    <div class="col-md-2">
				<%= f.label :sub_open, t('global.activity_open'), class: 'form-label fw-semibold text-secondary' %>
				<%= f.select :sub_open, [[t('true'), true], [t('false'), false]], { prompt: t('global.all-m') },
				 class: 'form-select', data: { action: 'change->filters#submit' } %>
			    </div>
			</div>
			<div class="row mb-2">
			    <!-- Visibility -->
			    <div class="col">
				<%= f.label :visibility, t('global.activity_visibility'), class: 'form-label fw-semibold text-secondary' %>
				<%= f.select :visibility, [[t('global.all-m'), 'all'], [t('global.invisible'), 'deleted']], { prompt: t('global.visible') },
				 class: 'form-select', data: { action: 'change->filters#submit' } %>
			    </div>
			</div>
		    <% end %>
		</div>

		<%= link_to new_subscription_path(user_id: user), class: 'btn btn-dark text-secondary border border-secondary-subtle ms-2' do %>
		    <i class="text-secondary bi bi-bar-chart-fill"></i>
		    <span class="ms-1">
                        <%= t '.add_sub' %>
		    </span>
                <% end %>
	    </div>

	    <%= turbo_frame_tag :usersubscriptions do %>
		<div class="table-responsive">
		    <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
			<table class="table table-borderless table-striped mb-0">
			    <thead class="table-secondary">
				<tr class="fs-6">
				    <th class="text-primary fw-semibold"><%= Subscription.human_attribute_name('activity') %></th>
				    <th class="text-primary fw-semibold"><%= Subscription.human_attribute_name('activity_plan') %></th>
				    <th  class="text-primary fw-semibold"><%= Subscription.human_attribute_name('start_date') %></th>
				    <th  class="text-primary fw-semibold"><%= Subscription.human_attribute_name('end_date') %></th>
				    <th  class="text-primary fw-semibold"><%= Subscription.human_attribute_name('open') %></th>
				    <th  class="text-primary fw-semibold"><%= Subscription.human_attribute_name('status') %></th>
				    <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
				</tr>
			    </thead>

			    <tbody>
				<% @subscriptions.each do |subscription| %>
				    <tr class="align-middle">
					<% presenter = SubscriptionPresenter.new(subscription) %>
					<% activity = subscription.activity %>
					<% plan = subscription.activity_plan %>

					<!-- Activity Name -->
					<td>
					    <%= highlight activity.name, params.dig(:name) %>
					</td>

					<td>
					    <%= plan.humanize_plan %>
					</td>

					<!-- Start date -->
					<td>
					    <%= l subscription.start_date %>
					</td>

					<!-- End date -->
					<td>
					    <%= l subscription.end_date %> (<%= t 'datetime.distance_in_words.x_days', count: subscription.days_til_renewal %>)
					</td>

					<!-- OPEN? -->
					<td>
					    <%= t subscription.open? %>
					</td>

					<!-- STATUS -->
					<td>
					    <%= link_to presenter.appropriate_path(user),
							method: presenter.method,
							class: "btn btn-#{ presenter.css_color } text-secondary badge rounded-pill",
							data: { turbo_method: presenter.method, turbo_frame: "_top" } do %>
						<i class="<%= presenter.link_icon %>"></i> <%= presenter.status_title  %>
					    <% end %>
					</td>

					<!-- Action buttons -->
					<td class="text-end">
					    <%= link_to subscription_path(subscription), class: 'btn btn-info btn-sm border border-secondary-subtle' do %>
						<i class="bi bi-eye-fill"></i>
					    <% end %>

					    <%= link_to edit_subscription_path(subscription), class: 'btn btn-warning btn-sm border border-secondary-subtle' do %>
						<i class="bi bi-pencil-fill"></i>
					    <% end %>

					    <% if subscription.discarded? %>
						<%= button_to restore_subscription_path(subscription),
							      class: 'btn btn-restore btn-sm border border-secondary-subtle',
							      method: :patch,
							      data: { turbo_confirm: t('global.restore_dialog'), turbo_frame: "_top" },
							      form: {style: 'display:inline-block;'} do %>
						    <i class="bi bi-recycle"></i>
						<% end %>
					    <% else %>
						<%= button_to subscription_path(subscription),
							      class: 'btn btn-danger btn-sm border border-secondary-subtle',
							      method: :delete,
							      data: { turbo_confirm: t('global.delete_dialog') }, form: {style: 'display:inline-block;'} do %>
						    <i class="bi bi-trash3-fill"></i>
						<% end %>
					    <% end %>
					</td>
				    </tr>
				<% end %>
			    </tbody>
			</table>
		    </div>
		</div>

	    <% end %>

	    <%== pagy_bootstrap_nav(@pagy_sub) %>
        <% else %>

	    <div class="d-flex align-items-center justify-content-between">
		<p class="fs-5 fw-light text-secondary me-3 mb-0">
		    <%= t '.no_subs' %>
		</p>

		<%= link_to new_subscription_path(user_id: user), class: 'btn btn-dark text-secondary border border-secondary-subtle' do %>
		    <i class="text-secondary bi bi-bar-chart-fill"></i>
		    <span class="ms-1">
			<%= t '.add_sub' %>
		    </span>
		<% end %>
	    </div>

        <% end %>

    </div>

    <% if user.has_payments? %>
        <div class="tab-pane fade"
             id="pills-payment"
             role="tabpanel"
             aria-labelledby="pills-payment-tab"
             tabindex="3">

            <div class="d-flex align-items-center">
                <div class="flex-fill">

                    <!-- Search form -->
                    <%= render 'partials/search_form', loc: t('global.search_payment'), path: user_path, frame: :userpayments, size: '500px', ctrls: 'filters' do |f| %>
                        <div class="row g-2 mb-2">
                            <!-- Payable Type -->
                            <div class="col">
                                <%= f.label :payable_type, t('global.payable_type'), class: 'form-label fw-semibold text-secondary' %>
                                <%= f.select :payable_type, [[t('global.mem'), 'mem'], [t('global.sub'), 'sub']], { prompt: t('global.all-m') },
                                 class: 'form-select', data: { action: 'change->filters#submit' } %>
                            </div>

                            <!-- Payable Method -->
                            <div class="col">
                                <%= f.label :payment_method, t('global.payment_method'), class: 'form-label fw-semibold text-secondary' %>
                                <%= f.select :payment_method, Payment.humanize_payment_methods, { prompt: t('global.all-m') },
                                 class: 'form-select', data: { action: 'change->filters#submit' } %>
                            </div>
                        </div>

                        <% max = Payment.maximum(:date) %>
                        <% min = Payment.minimum(:date) %>
                        <div class="row g-2 mb-2">
                            <!-- DATE FROM -->
                            <div class="col">
                                <%= f.label :date_from, t('global.activity_from'), class: 'form-label fw-semibold text-secondary' %>
                                <%= f.date_field :date_from, max: , min: ,
                                    class: 'form-control', data: { action: 'change->filters#submit' } %>
                            </div>

                            <!-- DATE TO -->
                            <div class="col">
                                <%= f.label :date_to, t('global.activity_to'), class: 'form-label fw-semibold text-secondary' %>
                                <%= f.date_field :date_to, max: , min: ,
                                    class: 'form-control', data: { action: 'change->filters#submit' } %>
                            </div>
                        </div>


	                <div class="row mb-2">
                            <!-- Visibility -->
		            <div class="col">
		                <%= f.label :visibility, t('global.payment_visibility'), class: 'form-label fw-semibold text-secondary' %>
		                <%= f.select :visibility, [[t('global.all-m'), 'all'], [t('global.invisible'), 'deleted']], { prompt: t('global.visible') },
		                 class: 'form-select', data: { action: 'change->filters#submit' } %>
		            </div>
	                </div>
                    <% end %>
                </div>

            </div>

            <%= turbo_frame_tag :userpayments do %>

                <% payment_sortable_column = ->(col, title) { sortable_column(col, title, user_path, :userpayments, @sort_by, @direction) } %>
                <div class="table-responsive">
                    <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
                        <table class="table table-borderless table-striped mb-0">
                            <thead class="table-secondary">
                                <tr class="fs-6">
                                    <th><%= payment_sortable_column.call('created_at', Payment.human_attribute_name('date')) %></th>
                                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('payable_type') %></th>
                                    <th><%= payment_sortable_column.call('amount', Payment.human_attribute_name('amount')) %></th>
                                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('method') %></th>
                                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('note') %></th>
                                    <th class="text-primary fw-semibold"><%= Payment.human_attribute_name('staff') %></th>
                                    <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
                                </tr>
                            </thead>

                            <tbody>
                                <% @payments.each do |payment| %>
                                    <tr class="align-middle">

                                        <!-- Created At -->
                                        <td>
                                            <%= l payment.created_at, format: :long %>
                                        </td>

                                        <!-- Payable Type -->
                                        <td>
                                            <%= payment.humanize_payable_type %>
                                        </td>

                                        <!-- Amount -->
                                        <td>
                                            <%= number_to_currency payment.amount %>
                                        </td>

                                        <!-- Payment Method -->
                                        <td>
                                            <%= payment.humanize_payment_method %>
                                        </td>

                                        <!-- Note -->
                                        <td>
                                            <%= highlight truncate(payment.note, lenght: 50), params.dig(:name) %>
                                        </td>

                                        <!-- Staff -->
                                        <% staff = payment.staff %>
                                        <td>
                                            <%= highlight staff.nickname, params.dig(:name) %>
                                        </td>

                                        <!-- Action buttons -->
                                        <td class="text-end">
                                            <%= link_to payment, class: 'btn btn-info btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                                <i class="bi text-secondary bi-eye-fill"></i>
                                            <% end %>

                                            <% if current_staff.admin? %>
                                                <%= link_to edit_payment_path(payment), class: 'btn btn-warning btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                                    <i class="bi text-secondary bi-pencil-fill"></i>
                                                <% end %>

                                                <% if payment.discarded? %>
		                                    <%= button_to restore_payment_path(payment),
				                                  class: 'btn btn-restore btn-sm border border-secondary-subtle',
				                                  method: :patch,
				                                  data: { turbo_confirm: t('global.restore_dialog'), turbo_frame: "_top" },
				                                  form: {style: 'display:inline-block;'} do %>
			                                <i class="bi bi-recycle"></i>
		                                    <% end %>
		                                <% else %>
                                                    <%= button_to payment,
                                                                  class: 'btn text-secondary btn-danger btn-sm border border-secondary-subtle',
                                                                  method: :delete,
                                                                  data: { turbo_frame: "_top", turbo_confirm: t('global.delete_dialog') },
                                                                  form: {style: 'display:inline-block;'} do %>
                                                        <i class="bi bi-trash3-fill"></i>
                                                    <% end %>
		                                <% end %>

                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <%== pagy_bootstrap_nav(@pagy_pay) %>
            <% end %>
        </div>
    <% end %>
</div>
