<h3 class="card-subtitle mb-4">
    <%= t '.personal_data' %>
</h3>


<!-- Personal Data -->
<% user_attribute_to_string = ->(attr) { attribute_to_string(user, attr) } %>
<div class="row mb-4">
    <div class="col-md-4">
        <h5 class="card-subtitle mb-2">
            <%= t '.name_surname' %>
        </h5>
        <p class="card-text">
            <%= user.full_name %>
        </p>
    </div>
    <div class="col-md-4">
        <h5 class="card-subtitle mb-2">
            <%= user_attribute_to_string.('birth_day') %>
        </h5>
        <% if user.birth_day %>
            <p class="card-text">
                <%= l user.birth_day %> (<%= num_to_human_years user.age %>)
            </p>
        <% end %>
    </div>
    <div class="col-md-4">
        <h5 class="card-subtitle mb-2">
            <%= user_attribute_to_string.('cf') %>
        </h5>
        <p class="card-text">
            <%= user.cf %>
        </p>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <h5 class="card-subtitle mb-2">
            <%= user_attribute_to_string.('email') %>
        </h5>
        <p class="card-text">
            <%= user.email %>
        </p>
    </div>
    <div class="col-md-4">
        <h5 class="card-subtitle mb-2">
            <%= user_attribute_to_string.('phone') %>
        </h5>
        <p class="card-text">
            <%= phone_to_string user.phone %>
        </p>
    </div>
    <div class="col-md-4">
        <h5 class="card-subtitle mb-2">
            <%= user_attribute_to_string.('affiliated') %>
        </h5>
        <% affiliated = user.affiliated %>
        <span class="badge text-bg-<%= affiliated ? 'success' : 'warning' %>"><%= t affiliated %></span>
    </div>
</div>

<% if user.legal_guardian %>
    <!-- Legal Guardian -->
    <div>
        <% lg = user.legal_guardian %>
        <h3 class="card-subtitle mb-4">
            <%= t '.legal_guardian' %>
        </h3>

        <!-- TODO -->
        <div class="list-group">
            <%= link_to "#{lg.full_name}",  legal_guardian_path(lg), class: 'list-group-item list-group-item-action' %>
        </div>
    </div>
<% end %>

<hr/>

<!-- Cert med -->
<div>
    <h3 class="card-subtitle mb-3">
        <%= t '.med_cert' %>
    </h3>
    <p class="cart-text">
        <% start_date = user.med_cert_issue_date %>
  <% end_date = user.med_cert_exp_date %>

  <% if start_date.nil? %>
      <span class="badge text-bg-warning"><%= t 'empty' %></span>
  <% else %>
      <%= l start_date, format: :default %> - <%= l end_date, format: :default %> (<%= num_to_human_days user.num_of_days_til_med_cert_expire %>)
  <% end %>
    </p>
</div>

<hr/>

<!-- TODO restyle this card and add the buttons to renew the memb -->
<div>
    <h3 class="card-subtitle mb-4">
        <%= t '.membership' %>
    </h3>

    <% membership = user.membership %>
    <% presenter = MembershipPresenter.new(membership) %>
    <div class="row mb-4">
        <% if membership %>

            <% membership_attribute_to_string = ->(attr) { attribute_to_string(membership, attr) } %>

            <div class="col">
                <h5 class="card-subtitle mb-2">
                    <%= membership_attribute_to_string.('start_date') %>
                </h5>
                <p class="card-text">
                    <%= l membership.start_date, format: :default %>
                </p>
            </div>
            <div class="col">
                <h5 class="card-subtitle mb-2">
                    <%= membership_attribute_to_string.('end_date') %>
                </h5>
                <p class="card-text">
                    <%= l membership.end_date, format: :default %> (<%= num_to_human_days membership.num_of_days_til_renewal %>)
                </p>
            </div>
        <% end %>

        <div class="col">
            <h5 class="card-subtitle mb-2">
                <%= membership_attribute_to_string.('status') %>
            </h5>
            <%= link_to presenter.appropriate_path(user), class: "btn badge text-bg-#{presenter.css_color}", data: { turbo_frame: "_top" } do %>
                <i class="<%= presenter.link_icon %>"></i> <%= presenter.link_title %>
            <% end %>
        </div>
    </div>
</div>

<!-- Subscriptions -->
<hr/>


<div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <h3 class="mb-3"><%= t '.subs' %></h3>
        </div>

        <%= link_to new_subscription_path(user_id: user) ,class: 'btn btn-success'  do %>
            <i class="bi bi-person-fill-add"></i> <%= t '.add_sub' %>
        <% end %>
    </div>


    <% if user.subscriptions.length > 0 %>
        <%= render 'subscriptions/subscriptions_table',
                   subscriptions: user.subscriptions,
                   actv: false,
                   generic: true
        %>

    <% else %>
        <%= t '.no_subs' %>
    <% end %>
</div>
