<div class="card" id="<%= dom_id user %>">
    <div class="card-header">
        <h1 class="card-title"><%= t '.user_detail' %></h1>
    </div>
    <div class="card-body">
        <h3 class="card-subtitle mb-4"><%= t '.personal_data' %></h3>

        <!-- Personal Data -->
        <div class="row mb-4">
            <div class="col-md-4">
                <h5 class="card-subtitle mb-2">
                    <%= t '.name_surname' %>
                </h5>
                <p class="card-text">
                    <%= user.full_name %>
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="card-subtitle mb-2">
                    <%= t '.birth' %>
                </h5>
                <p class="card-text">
                    <%= user.date_of_birth %> (<%= user.age %> anni)
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="card-subtitle mb-2">
                    <%= t '.cf' %>
                </h5>
                <p class="card-text">
                    <%= user.cf %>
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <h5 class="card-subtitle mb-2">
                    Email:
                </h5>
                <p class="card-text">
                    <%= user.email.nil? ? 'Da inserire!' : user.email %>
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="card-subtitle mb-2">
                    <%= t '.phone' %>
                </h5>
                <p class="card-text">
                    <%= user.phone.nil? ? 'Da inserire!' : user.phone %>
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="card-subtitle mb-2">
                    <%= t '.affiliated' %>
                </h5>
                <% affiliated = user.affiliated %>
                <span class="badge text-bg-<%= affiliated ? 'success' : 'warning' %>"><%= affiliated ? 'Si' : 'No' %></span>
            </div>
        </div>

        <% if user.legal_guardian %>

            <!-- Legal Guardian -->
            <div>
                <% lg = user.legal_guardian %>
                <h3 class="card-subtitle mb-4">
                    <%= t '.legal_guardian' %>
                </h3>

                <!-- TODO -->
                <div class="list-group">
                    <%= link_to "#{lg.full_name}",  legal_guardian_path(lg), class: 'list-group-item list-group-item-action' %>
                </div>
            </div>
        <% end %>

        <hr/>

        <!-- Cert med -->
        <div>
            <h3 class="card-subtitle mb-3">
                <%= t '.med_cert' %>
            </h3>
            <p class="cart-text">
                <% start_date = user.med_cert_issue_date %>

                <% if start_date.nil? %>
                    <span class="badge text-bg-warning"><%= t '.to_be_inserted' %></span>
                <% else %>
                    <!-- TODO pluralize -->
                    <% days = user.get_num_of_days_til_med_cert_expire %>
                    <%= "#{start_date} (#{days} #{days == 1 ? 'giorno' : 'giorni' } alla scadenza)" %>
                <% end %>
            </p>
        </div>

        <hr/>

        <!-- TODO restyle this card and add the buttons to renew the memb -->
        <div>
            <h3 class="card-subtitle mb-4">
                <%= t '.membership' %>
            </h3>

            <% membership = user.membership %>
            <% if membership %>

                <p class="cart-text">

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <h5 class="card-subtitle mb-2">
                                <%= t '.start_date' %>
                            </h5>
                            <p class="card-text">
                                <%= membership.start_date %>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-subtitle mb-2">
                                <%= t '.end_date' %>
                            </h5>
                            <p class="card-text">
                                <% days_til_ren = membership.get_num_of_days_til_renewal %>
                                <%= membership.end_date %> (<%= pluralize(days_til_ren, 'giorno') %>)
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-subtitle mb-2">
                                <%= t '.status' %>
                            </h5>
                            <p class="card-text">
                                <%= membership.status.humanize %>
                            </p>
                        </div>
                    </div>
                </p>

            <% else %>
                <%= t '.to_be_inserted' %>
            <% end %>

        </div>

        <!-- Subscriptions -->
        <hr/>

        <div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="mb-0"><%= t '.subs' %></h3>
                <%= link_to new_subscription_path(user_id: user, staff_id: current_staff), class: 'btn btn-success' do %>
                    <i class="bi bi-plus-circle-fill"></i> Aggiungi Iscrizione
                <% end %>
            </div>
            <% if user.subscriptions.length > 0 %>
                <%= render 'subscriptions/subscriptions_table',
                           subscriptions: user.subscriptions,
                           actv: false
                %>

            <% else %>
                <%= t '.no_subs' %>
            <% end %>
        </div>

    </div>

    <!-- Card Footer -->
    <div class="card-footer bg-light">
        <div class="d-flex justify-content-end">
            <%= link_to "Modifica questo utente", edit_user_path(user), class: 'btn btn-warning me-2' %>
            <%#= link_to "Back to users", users_path %>
            <%= button_to "Elimina questo utente", user, class: 'btn btn-danger', method: :delete, data: { turbo_confirm: "Sicuro di voler eliminare questo utente? L'operazione non è reversibile" } %>
        </div>
    </div>
</div>
