<h1>Utenti</h1>

<div class="actions">
    <%= link_to "Nuovo Utente", new_user_path %>
</div>

<div class="filters">
    <%= form_with url: users_path, method: :get, local: true do |form| %>
        <div>
            <%= form.label :search, "Cerca:" %>
            <%= form.text_field :search, value: params[:search], placeholder: "Nome, cognome o nickname..." %>
        </div>
        
        <div>
            <%= form.label :role, "Ruolo:" %>
            <%= form.select :role, 
                options_for_select([
                    ['Tutti', ''],
                    ['Collaboratore', 'collaborator'],
                    ['Amministratore', 'admin']
                ], params[:role]),
             {}, {} %>
        </div>
        
        <%= form.submit "Filtra" %>
        <%= link_to "Reset", users_path %>
    <% end %>
</div>

<div class="sorting">
    Ordina per:
    <%= link_to "Nome", users_path(sort_by: "name", direction: "asc") %>
    <%= link_to "Cognome", users_path(sort_by: "surname", direction: "asc") %>
    <%= link_to "Nickname", users_path(sort_by: "nickname", direction: "asc") %>
    <%= link_to "Ruolo", users_path(sort_by: "role", direction: "asc") %>
    <%= link_to "Data Creazione", users_path(sort_by: "created_at", direction: "desc") %>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Ruolo</th>
            <th>Ultimo Accesso</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.member.name %></td>
                <td><%= user.member.surname %></td>
                <td><%= user.nickname %></td>
                <td><%= user.member.email %></td>
                <td><%= user.role.humanize %></td>
                <td>
                    <% if user.current_sign_in_at %>
                        <%= user.current_sign_in_at.strftime("%d/%m/%Y %H:%M") %>
                    <% else %>
                        Mai
                    <% end %>
                </td>
                <td>
                    <%= link_to "Visualizza", user_path(user) %>
                    <%= link_to "Modifica", edit_user_path(user) %>
                    <%= button_to "Elimina", user_path(user), method: :delete, 
                    confirm: "Sei sicuro di voler eliminare questo utente?" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @users.empty? %>
    <p>Nessun utente trovato.</p>
<% end %>
