<%= render @user %>

<%= link_to "Aggiungi Iscrizione", new_subscription_path(user_id: @user, staff_id: current_staff) %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
