<div>
    <header>
        <h1>Modifica Registrazione</h1>
        <p>Membro: <%= @registration.member.full_name %></p>
        <p>Prodotto: <%= @registration.product.name %></p>
    </header>

    <%= form_with model: @registration do |form| %>
        <% if @registration.errors.any? %>
            <div>
                <h3>Errori:</h3>
                <ul>
                    <% @registration.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <fieldset>
            <legend>Modifica Stato e Sessioni</legend>

            <div>
                <%= form.label :status %>
                <%= form.select :status,
                   options_for_select([
                       ['Attiva', 'active'],
                       ['Sospesa', 'suspended'],
                       ['Scaduta', 'expired']
                   ], @registration.status) %>
            </div>

            <% if @registration.has_session_limit? %>
                <div>
                    <%= form.label :sessions_remaining, "Sessioni Rimanenti" %>
                    <%= form.number_field :sessions_remaining, min: 0 %>
                </div>
            <% end %>

            <div>
                <%= form.label :end_date, "Data Scadenza" %>
                <%= form.date_field :end_date %>
            </div>
        </fieldset>

        <div>
            <%= form.submit "Aggiorna Registrazione" %>
            <%= link_to "Annulla", @registration %>
        </div>
    <% end %>
</div>
