<%= cache pricing_plan do %>
  <%= tag.div id: dom_id(pricing_plan), class: "pricing-plan-item" do %>
    <p>
      <strong><%= pricing_plan.name %>:</strong>
      <%= number_to_currency(pricing_plan.price) %>
    </p>
    <div>
      <%# Questo link sostituirà il frame "form_container" con il form di modifica %>
      <%= link_to "Modifica", edit_product_pricing_plan_path(pricing_plan.product, pricing_plan),
                  data: { turbo_frame: "new_pricing_plan" } %>

      <%= button_to "Archivia", [pricing_plan.product, pricing_plan], method: :delete,
                    data: { turbo_confirm: "Sei sicuro?" } %>
    </div>
  <% end %>
<% end %>
