<div id="<%= dom_id legal_guardian %>">
  <p>
    <strong>Name:</strong>
    <%= legal_guardian.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= legal_guardian.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= legal_guardian.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= legal_guardian.phone %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= legal_guardian.birth_day %>
  </p>

</div>
