<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0 fs-3 fw-semibold text-secondary">
        <%= model_to_string(LegalGuardian, 2) %>
    </p>

    <div class="d-flex align-items-center">
        <% count = LegalGuardian.count %>
        <p class="fs-3 fw-bold text-secondary mb-0"><%= count %></p>
        <span class="fs-6 fw-light ps-2 text-muted"><%= t('global.registered', count:) %></span>
    </div>
</div>

<div class="bg-primary border border-secondary-subtle rounded-3 container">
    <div class="d-flex align-items-center">
        <div class="flex-grow-1 me-2">
            <%= render 'partials/search_form_users', path: legal_guardians_path, frame: :legal_guardians %>
        </div>
        <%= link_to new_legal_guardian_path, class: 'btn btn-dark text-secondary border border-secondary-subtle' do %>
            <i class="bi bi-person-fill-add"></i>
            <span class="ms-1"><%= t '.add_legal_guardian' %></span>
        <% end %>
    </div>

    <%= turbo_frame_tag :legal_guardians do %>
        <% legal_guardian_sortable_column = ->(col, title) { sortable_column(col, title, legal_guardians_path, :legal_guardians, @sort_by, @direction) } %>
        <div id="legal_guardians" class="table-responsive">
            <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
                <table class="table table-borderless table-striped mb-0">
                    <thead class="table-secondary">
                        <tr class="fs-6">
	                    <th><%= legal_guardian_sortable_column.call('name', LegalGuardian.human_attribute_name('name')) %></th>
	                    <th><%= legal_guardian_sortable_column.call('surname', LegalGuardian.human_attribute_name('surname')) %></th>
	                    <th><%= legal_guardian_sortable_column.call('birth_day', LegalGuardian.human_attribute_name('birth_day')) %></th>
	                    <th><%= legal_guardian_sortable_column.call('email', LegalGuardian.human_attribute_name('email')) %></th>
	                    <th class="text-primary fw-semibold"><%= LegalGuardian.human_attribute_name('phone') %></th>
	                    <th class="text-primary fw-semibold"><%= LegalGuardian.human_attribute_name('users') %></th>
	                    <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @legal_guardians.each do |legal_guardian| %>
                            <tr class="align-middle">

	                        <!-- Name -->
	                        <td class="text-begin">
	                            <%= highlight legal_guardian.name, params.dig(:name) %>
	                        </td>

	                        <!-- Surname -->
	                        <td>
	                            <%= highlight legal_guardian.surname, params.dig(:name) %>
	                        </td>

	                        <!-- Birth Day -->
	                        <td>
	                            <%= l legal_guardian.birth_day %>
	                        </td>

	                        <!-- Email -->
	                        <td>
	                            <%= legal_guardian.email %>
	                        </td>

	                        <!-- Phone -->
	                        <td>
	                            <%= phone_to_string legal_guardian.phone %>
	                        </td>

	                        <!-- Users -->
	                        <td>
	                            <%= legal_guardian.users.count %>
	                        </td>

	                        <!-- Action -->
                                <td class="text-end">
                                    <%= link_to legal_guardian, class: 'btn btn-info btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                        <i class="bi bi-eye-fill"></i>
                                    <% end %>

                                    <%= link_to edit_legal_guardian_path(legal_guardian), class: 'btn btn-warning btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                        <i class="bi bi-pencil-fill"></i>
                                    <% end %>

                                    <% if current_staff.admin? %>
                                        <%= button_to legal_guardian,
                                                      class: 'btn btn-danger btn-sm border border-secondary-subtle',
                                                      method: :delete,
                                                      data: { turbo_confirm: t('global.destroy_dialog'), turbo_frame: "_top" },
                                                      form: {style: 'display:inline-block;'} do %>
                                            <i class="bi bi-trash3-fill"></i>
                                        <% end %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
    <% end %>
</div>
