<%= form_with(model: subscription, data: { controller: 'activity-search-user' }) do |form| %>
    <% if subscription.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: subscription.errors.count) %></h2>
            <ul>
                <% subscription.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row mb-3">
        <div class="col">
            <%= form.label :start_date, class: 'form-label fw-semibold text-secondary' %>
            <%= form.date_field :start_date, class: 'form-control' %>
        </div>
        <div class="col">
            <%= form.label :end_date, class: 'form-label fw-semibold text-secondary' %>
            <%= form.date_field :end_date, class: 'form-control' %>
        </div>
    </div>

    <fieldset disabled>
        <div class="row mb-3">
            <div class="col">
                <%= form.label :user_id, class: 'form-label fw-semibold text-secondary' %>
                <%= form.text_field :activity_id, class: 'form-control', value: @subscription&.user&.full_name%>
            </div>

            <div class="col">
                <%= form.label :activity_plan_id, class: 'form-label fw-semibold text-secondary' %>
                <%= form.text_field :activity_plan_id, class: 'form-control', value: @subscription&.activity_plan&.humanize_plan %>
            </div>
        </div>
    </fieldset>

    <div class="form-check mb-3">
        <%= check_box_tag(:open, { id: 'open_checkbox', class: 'form-check-input', checked: @subscription&.open?, disabled: true }) %>
        <%= label_tag 'open_checkbox', 'Open', class: 'form-check-label fw-semibold text-secondary' %>
        <%= hidden_field_tag(:open, @subscription&.open? ? "1" : "0") %>
    </div>

    <%= form.hidden_field :user_id, value: @subscription&.user&.id %>
    <%= form.hidden_field :activity_id, value: @subscription&.activity&.id %>
    <%= form.hidden_field :staff_id, value: current_staff.id %>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
