<%= form_with(model: subscription) do |form| %>
    <% if subscription.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: subscription.errors.count) %></h2>
            <ul>
                <% subscription.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :start_date, class: 'form-label' %>
                <%= form.date_field :start_date, class: 'form-control' %>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <%= form.label :end_date, class: 'form-label' %>
                <%= form.date_field :end_date, class: 'form-control' %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :user_id, class: 'form-label' %>
                <%= form.collection_select :user_id, @users, :id, :full_name, {}, { class: 'form-select' } %>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <%= form.label :activity_plan_id, class: 'form-label' %>
                <%= form.collection_select :activity_plan_id, @plans, :id, :plan, {}, { class: 'form-select' } %>
            </div>
        </div>
    </div>

    <div class="form-check mb-3">
        <%= label_tag do %>
            <%= check_box_tag(:open, class: 'form-check-input') %>
            OPEN
        <% end %>
    </div>

    <%= form.hidden_field :activity_id, value: @activity.id %>
    <%= form.hidden_field :staff_id, value: current_staff.id %>

    <div class="actions">
        <%= form.submit class: 'btn btn-success w-100' %>
    </div>
<% end %>
