<div id="<%= dom_id subscription %>">
  <p>
    <strong>Data Inizio:</strong>
    <%= subscription.start_date %>
  </p>

  <p>
    <strong>Data Fine:</strong>
    <%= subscription.end_date %>
  </p>

  <p>
    <strong>Nome e cognome:</strong>
    <%= subscription.user.full_name %>
  </p>

  <p>
    <strong>Attività:</strong>
    <%= subscription.activity.name %>
  </p>

  <p>
    <strong>Piano per questa attività:</strong>
    <%= subscription.activity_plan.humanize_plan %>
  </p>

  <p>
      <strong>OPEN:</strong>
      <%= subscription.open %>
  </p>
  <p>
      <strong>OPEN ACTV:</strong>
      <%= subscription.linked_subscription %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

</div>
