<div id="<%= dom_id subscription %>">
  <p>
    <strong>Start:</strong>
    <%= subscription.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= subscription.end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= subscription.activity_id %>
  </p>

  <p>
    <strong>Subscription type:</strong>
    <%= subscription.subscription_type_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

</div>
