<div class="card" id="<%= dom_id @subscription %>">
    <div class="card-header">
        <h1 class="card-title">
            <%= t '.title' %>
        </h1>
    </div>

    <!-- Card Body -->
    <div class="card-body">
        <%= render "edit_form", subscription: @subscription %>
    </div>

    <!-- Card Footer -->
    <div class="card-footer bg-light">
        <div class="d-flex justify-content-end">
            <%= link_to "Show this subscription", @subscription, class: 'btn btn-primary me-2' %>
            <%= link_to "Back to subscriptions", subscriptions_path, class: 'btn btn-info' %>
        </div>
    </div>
</div>
