<div class="d-flex align-items-center mb-3">
  <h1 class="mb-0 me-2"><%= t '.title' %></h1>
  <span>(<%= t('.registered', count: @pagy.count) %>)</span>
</div>

<%= render 'partials/search_form_users', path: subscriptions_path, frame: :subscriptions %>

<%= turbo_frame_tag :subscriptions do %>
<div id="subscriptions">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th><%= Subscription.human_attribute_name('updated_at') %></th>
                <th><%= User.human_attribute_name('name') %></th>
                <th><%= User.human_attribute_name('surname') %></th>
                <th><%= Subscription.human_attribute_name('activity') %></th>
                <th><%= Subscription.human_attribute_name('open') %></th>
                <th><%= Subscription.human_attribute_name('plan') %></th>
                <th><%= Subscription.human_attribute_name('start_date') %></th>
		<th><%= Subscription.human_attribute_name('end_date') %></th>
                <th><%= t 'global.table.action' %></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">

            <% @subscriptions.each do |subscription| %>

                <tr>

                    <!-- Updated At -->
                    <td>
		      <%= humanize_timestamp subscription.updated_at %>
                    </td>

                    <!-- Name -->
                    <% user = subscription.user %>
                    <td>
                        <%= user.name %>
                    </td>

                    <!-- Surname -->
                    <td>
                        <%= user.surname %>
                    </td>

                    <!-- Activity -->
                    <% activity = subscription.activity %>
                    <% plan = subscription.activity_plan %>
                    <td>
                        <%= activity.name %>
                    </td>

                    <!-- OPEN -->
                    <td>
                        <%= t subscription.open? %>
                    </td>

                    <!-- ActivityPlan -->
                    <td>
                        <%= plan.humanize_plan %>
                    </td>

                    <!-- Start Date -->
                    <td>
                        <%= l subscription.start_date %>
                    </td>

		    <!-- End Date -->
		    <td>
		      <%= l subscription.end_date %>
		    </td>		    

                    <!-- Action -->
                    <td>
                        <%= link_to subscription, class: 'btn btn-primary', data: { turbo_frame: "_top" } do %>
                            <i class="bi bi-eye-fill"></i>
                        <% end %>

                        <%= link_to edit_subscription_path(subscription), class: 'btn btn-warning', data: { turbo_frame: "_top" } do %>
                            <i class="bi bi-pencil-fill"></i>
                        <% end %>

                        <% if current_staff.admin? %>
                            <%= button_to subscription,
                                          class: 'btn btn-danger',
                                          method: :delete,
                                          data: { turbo_frame: "_top", turbo_confirm: "Sicuro di voler eliminare questo utente? L'operazione non è reversibile" },
                                          form: {style: 'display:inline-block;'} do %>
                                <i class="bi bi-trash3-fill"></i>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>

    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>
<% end %>
