<%= content_for :counter do %>
    <% count = Subscription.count %>
    <p class="fs-3 fw-bold text-secondary mb-0"><%= count %></p>
    <span class="fs-6 fw-light ps-2 text-muted"><%= t('.registered', count:) %></span>
<% end %>

<%= content_for :search do %>
    <div class="flex-fill">
        <%= render 'partials/search_form', loc: t('global.search_name'), path: subscriptions_path, frame: :subscriptions, size: '600px', ctrls: 'filters' do |f| %>

            <div class="row g-2 mb-2">
                <!-- Activity ID -->
                <div class="col">
                    <%= f.label :activity_id, t('global.activity_name'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :activity_id, Activity.pluck(:name, :id), { prompt: t('global.all-s') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>

                <!-- Plan ID -->
                <div class="col">
                    <%= f.label :plan_id, t('global.activity_plan'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :plan_id, ActivityPlan.humanize_plans(ActivityPlan.pluck(:plan).uniq), { prompt: t('global.all-s') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>

                <!-- OPEN -->
                <div class="col-md-2">
                    <%= f.label :sub_open, t('global.activity_open'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :sub_open, [[t('true'), true], [t('false'), false]], { prompt: t('global.all-m') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>
            </div>

            <% max = Subscription.maximum(:end_date) %>
            <% min = Subscription.minimum(:start_date) %>
            <div class="row g-2 mb-2">
                <!-- DATE FROM -->
                <div class="col">
                    <%= f.label :date_from, t('global.activity_from'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.date_field :date_from, max: , min: ,
			class: 'form-control', data: { action: 'change->filters#submit' } %>
                </div>

                <!-- DATE TO -->
                <div class="col">
                    <%= f.label :date_to, t('global.activity_to'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.date_field :date_to, max: , min: ,
			class: 'form-control', data: { action: 'change->filters#submit' } %>
                </div>
            </div>

	    <div class="row mb-2">
                <!-- Visibility -->
                <div class="col">
                    <%= f.label :visibility, t('global.subscription_visibility'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :visibility, [[t('global.all-m'), 'all'], [t('global.invisible'), 'deleted']], { prompt: t('global.visible') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

<%= render 'partials/index_container', title: model_to_string(Subscription, 2), tframe: :subscriptions do %>

    <div id="subscriptions" class="table-responsive">
        <%= render 'partials/subscription_table', subscriptions: @subscriptions %>
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>
