<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0 fs-3 fw-semibold text-secondary">
        <%= model_to_string(Subscription, 2) %>
    </p>

    <div class="d-flex align-items-center">
        <% count = Subscription.count %>
        <p class="fs-3 fw-bold text-secondary mb-0"><%= count %></p>
        <span class="fs-6 fw-light ps-2 text-muted"><%= t('.registered', count:) %></span>
    </div>
</div>

<div class="bg-primary border border-secondary-subtle rounded-3 container">
    <div class="flex-fill">
        <%= render 'partials/search_form', loc: t('global.search_name'), path: subscriptions_path, frame: :subscriptions, size: '600px', ctrls: 'filters' do |f| %>

            <div class="row g-2 mb-2">
                <!-- Activity ID -->
                <div class="col">
                    <%= f.label :activity_id, t('global.activity_name'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :activity_id, Activity.pluck(:name, :id), { prompt: t('global.all-s') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>

                <!-- Plan ID -->
                <div class="col">
                    <%= f.label :plan_id, t('global.activity_plan'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :plan_id, ActivityPlan.humanize_plans(ActivityPlan.pluck(:plan).uniq), { prompt: t('global.all-s') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>

                <!-- OPEN -->
                <div class="col-md-2">
                    <%= f.label :sub_open, t('global.activity_open'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.select :sub_open, [[t('true'), true], [t('false'), false]], { prompt: t('global.all-m') },
                     class: 'form-select', data: { action: 'change->filters#submit' } %>
                </div>
            </div>

            <% max = Subscription.maximum(:end_date) %>
            <% min = Subscription.minimum(:start_date) %>
            <div class="row g-2 mb-2">
                <!-- DATE FROM -->
                <div class="col">
                    <%= f.label :date_from, t('global.activity_from'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.date_field :date_from, max: , min: ,
                     class: 'form-control', data: { action: 'change->filters#submit' } %>
                </div>

                <!-- DATE TO -->
                <div class="col">
                    <%= f.label :date_to, t('global.activity_to'), class: 'form-label fw-semibold text-secondary' %>
                    <%= f.date_field :date_to, max: , min: ,
                     class: 'form-control', data: { action: 'change->filters#submit' } %>
                </div>
            </div>
        <% end %>
    </div>

    <%= turbo_frame_tag :subscriptions do %>
        <% sub_sortable_column = ->(col, title) { sortable_column(col, title, subscriptions_path, :subscriptions, @sort_by, @direction) } %>
        <div id="subscriptions" class="table-responsive">
            <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
                <table class="table table-borderless table-striped mb-0">
                    <thead class="table-secondary">
                        <tr class="fs-6">
                            <th><%= sub_sortable_column.call('name', User.human_attribute_name('name')) %></th>
                            <th><%= sub_sortable_column.call('surname', User.human_attribute_name('surname')) %></th>
                            <th><%= sub_sortable_column.call('activity_name', Subscription.human_attribute_name('activity')) %></th>
                            <th class="text-primary fw-semibold"><%= Subscription.human_attribute_name('open') %></th>
                            <th class="text-primary fw-semibold"><%= Subscription.human_attribute_name('plan') %></th>
                            <th><%= sub_sortable_column.call('start_date', Subscription.human_attribute_name('start_date')) %></th>
		            <th><%= sub_sortable_column.call('end_date', Subscription.human_attribute_name('end_date')) %></th>
                            <th class="text-primary text-end fw-semibold"><%= t 'global.table.action' %></th>
                        </tr>
                    </thead>

                    <tbody class="table-group-divider">

                        <% @subscriptions.each do |subscription| %>

                            <tr class="align-middle">

                                <!-- Name -->
                                <% user = subscription.user %>
                                <td class="text-begin">
                                    <%= highlight user.name, params.dig(:name) %>
                                </td>

                                <!-- Surname -->
                                <td>
                                    <%= highlight user.surname, params.dig(:name) %>
                                </td>

                                <!-- Activity -->
                                <% activity = subscription.activity %>
                                <% plan = subscription.activity_plan %>
                                <td>
                                    <%= activity.name %>
                                </td>

                                <!-- OPEN -->
                                <td>
                                    <%= t subscription.open? %>
                                </td>

                                <!-- ActivityPlan -->
                                <td>
                                    <%= plan.humanize_plan %>
                                </td>

                                <!-- Start Date -->
                                <td>
                                    <%= l subscription.start_date %>
                                </td>

                                <!-- End Date -->
                                <td>
                                    <%= l subscription.end_date %>
		                </td>

                                <!-- Action -->
                                <td class="text-end">
                                    <%= link_to subscription,
                                                class: 'btn btn-info btn-sm border border-secondary-subtle',
                                                data: { turbo_frame: "_top" } do %>
                                        <i class="bi text-secondary bi-eye-fill"></i>
                                    <% end %>

                                    <%= link_to edit_subscription_path(subscription),
                                                class: 'btn btn-warning btn-sm border border-secondary-subtle',
                                                data: { turbo_frame: "_top" } do %>
                                        <i class="bi text-secondary bi-pencil-fill"></i>
                                    <% end %>

                                    <% if current_staff.admin? %>
                                        <%= button_to subscription,
                                                      class: 'btn btn-danger btn-sm border border-secondary-subtle',
                                                      method: :delete,
                                                      data: { turbo_frame: "_top", turbo_confirm: t('global.destroy_dialog') },
                                                      form: {style: 'display:inline-block;'} do %>
                                            <i class="bi text-secondary bi-trash3-fill"></i>
                                        <% end %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
    <% end %>
</div>
