<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center mb-3">
        <%= image_tag('asd-querini.png', size: 200) %>
        <p class="fs-1 mb-3 fw-bold text-secondary"><%= t('global.devise.sign_in') %></p>
        <p class="text-muted fs-6 fw-light">
            <%= t('global.devise.sign_in_comp') %>
        </p>
    </div>

    <div class="container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="row justify-content-center mb-3">
                <div class="col-md-4">
                        <%= f.label :nickname, class: 'pb-2 text-secondary fw-semibold' %>
                        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: 'Nick', class: 'form-control' %>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-md-4">
                    <%= f.label :password, class: 'pb-2 text-secondary fw-semibold' %>
                    <%= f.password_field :password, autocomplete: "password", placeholder: 'Password', class: 'form-control' %>
                </div>
            </div>

            <% if devise_mapping.rememberable? %>
                <div class="row justify-content-center mb-3">
                    <div class="col-md-4">
                        <div class="form-check">
                            <%= f.check_box :remember_me, class: 'form-check-input' %>
                            <%= f.label :remember_me, class: 'form-check-label' %> Remember for 30 days
                        </div>
                    </div>
                </div>
            <% end %>

            <!-- Submit button -->
            <div class="row justify-content-center mb-3">
                <div class="col-md-4">
                    <%= f.submit t('.sign_in'), class: 'btn btn-dark border border-secondary-subtle w-100 fw-bold fs-5 text-secondary' %>
                </div>
            </div>
        <% end %>
    </div>

    <%= render "devise/shared/links" %>
</div>
