<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, value: payment.amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, default: payment.date %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.select :payment_method, Payment.payment_methods.keys.map { |method| [method.humanize, method] }, selected: payment.payment_method %>
  </div>

  <div class="field">
    <%= form.label :entry_type %>
    <%= form.select :entry_type, Payment.entry_types.keys.map { |type| [type.humanize, type] }, selected: payment.entry_type %>
  </div>

  <div class="field">
    <%= form.label :payed %>
    <%= form.check_box :payed, checked: payment.payed %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, value: payment.note %>
  </div>

  <%= form.hidden_field :payable_type %>
  <%= form.hidden_field :payable_id %>
  <%= form.hidden_field :staff_id %>

  <div class="actions">
      <%= form.submit %>
  </div>
<% end %>
