<%= form_with(model: payment) do |form| %>
    <% if payment.errors.any? %>
        <div id="error_explanation">
            <h2><%= t('global.forms.messages.errors', count: payment.errors.count) %></h2>
            <ul>
                <% payment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <%= form.label :date, class: 'form-label fw-semibold text-secondary' %>
                <%= form.date_field :date, default: payment.date, class: 'form-control' %>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <%= form.label :amount, class: 'form-label fw-semibold text-secondary' %>
                <%= form.number_field :amount, value: payment.amount, class: 'form-control', step: 'any' %>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <%= form.label :payment_method, class: 'form-label fw-semibold text-secondary' %>
        <%= form.select :payment_method, Payment.humanize_payment_methods, {}, { class: 'form-select', selected: payment.payment_method } %>
    </div>

    <div class="mb-3">
        <%= form.label :note, class: 'form-label fw-semibold text-secondary' %>
        <%= form.text_area :note, value: payment.note, class: 'form-control' %>
    </div>

    <%= form.hidden_field :payable_type %>
    <%= form.hidden_field :payable_id %>
    <%= form.hidden_field :staff_id, value: current_staff.id %>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
