<h3 class="card-subtitle mb-4">
  <%= t '.payment_info' %>
</h3>

<% payment_attribute_to_string = ->(attr) { attribute_to_string(payment, attr) } %>
<div class="row mb-4">
  <div class="col">
    <h5 class="card-subtitle mb-2">
      <%= payment_attribute_to_string.('amount') %>
    </h5>
    <div class="card-text">
      <%= number_to_currency payment.amount %>
    </div>
  </div>
  <div class="col">
    <h5 class="card-subtitle mb-2">
      <%= payment_attribute_to_string.('date') %>
    </h5>
    <div class="card-text">
      <%= l payment.date %>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <h5 class="card-subtitle mb-2">
      <%= payment_attribute_to_string.('payment_method') %>
    </h5>
    <div class="card-text">
      <%= payment.humanize_payment_method %>
    </div>
  </div>
  <div class="col">
    <h5 class="card-subtitle mb-2">
      <%= payment_attribute_to_string.('payable_type') %>
    </h5>
    <div class="card-text">
      <%= payment.humanize_payable_type %>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <h5 class="card-subtitle mb-2">
      <%= payment_attribute_to_string.('entry_type') %>
    </h5>
    <div class="card-text">
      <%= payment.humanize_entry_type %>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <h5 class="card-subtitle mb-2">
      <%= payment_attribute_to_string.('note') %>
    </h5>
    <div class="card-text">
      <%= payment.note %>
    </div>
  </div>
</div>

<hr/>

<div class="row mb-4">
  <% staff = payment.staff %>
  <div class="col">
    <h5 class="card-subtitle mb-4">
      <%= payment_attribute_to_string.('staff') %>
    </h5>
    <div class="list-group">
      <%= link_to "#{staff.full_name}",  staff, class: 'list-group-item list-group-item-action' %>
      </div>
  </div>
</div>
