<div id="<%= dom_id payment %>">
  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= payment.method %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= payment.entry_type %>
  </p>

  <p>
    <strong>State:</strong>
    <%= payment.state %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= payment.note %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= payment.subscription_id %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= payment.staff_id %>
  </p>

</div>
