<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0 fs-3 fw-semibold text-secondary">
        <%= model_to_string(Payment, 2) %>
    </p>

    <div class="d-flex align-items-center">
        <% count = Payment.count %>
        <p class="fs-3 fw-bold text-secondary mb-0"><%= count %></p>
        <span class="fs-6 fw-light ps-2 text-muted"><%= t('global.registered', count:) %></span>
    </div>
</div>

<div class="bg-primary border border-secondary-subtle rounded-3 container">
    <%= render 'partials/search_form_payments', path: payments_path, frame: :payments %>

    <%= turbo_frame_tag :payments do %>
        <div id="payments">
            <%= render 'partials/payments_table', payments: @payments %>
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
    <% end %>

</div>
