<h1>Pagamenti</h1>

<%= link_to "Nuovo Pagamento", new_payment_path, class: "btn" %>

<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Metodo</th>
            <th>Importo</th>
            <th>Utente</th>
            <th>Ricevuta</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <% @payments.each do |payment| %>
            <tr>
                <td><%= payment.date %></td>
                <td><%= payment.income? ? "Incasso" : "Spesa" %></td>
                <td><%= payment.payment_method.humanize %></td>
                <td>€<%= payment.final_amount %></td>
                <td><%= payment.user.nickname %></td>
                <td><%= payment.receipts.any? ? "Sì" : "No" %></td>
                <td><%= link_to "Dettagli", payment %></td>
            </tr>
        <% end %>
    </tbody>
</table>
