<div class="d-flex align-items-center mb-3">
    <h1 class="mb-0 me-2"><%= t '.title' %></h1>
    <span>(<%= t('.registered', count: @pagy.count) %>)</span>
</div>

<%= render 'partials/search_form_payments', path: payments_path, frame: :payments %>

<%= turbo_frame_tag :payments do %>
    <div id="payments">
        <%= render 'partials/payments_table', payments: @payments %>
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>
