<%= form_with(model: membership) do |form| %>
    <% if membership.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: membership.errors.count) %></h2>

            <ul>
                <% membership.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row g-3 mb-2">

        <!-- Start Date -->
        <div class="col">
            <div class="d-flex">
                <%= form.label :start_date, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.date_field :start_date, class: 'form-control', data: { describedby: 'dateHelp' }, autofocus: true %>
            <div id="dateHelp" class="form-text"><%= t '.start_date_help' %></div>
        </div>

        <!-- End Date -->
        <div class="col">
            <%= form.label :end_date, class: 'form-label fw-semibold text-secondary' %>
            <%= form.date_field :end_date, class: 'form-control', data: { describedby: 'dateHelp' } %>
            <div id="dateHelp" class="form-text"><%= t '.end_date_help' %></div>
        </div>
    </div>

    <%= form.hidden_field :user_id, value: @user.id %>
    <%= form.hidden_field :staff_id, value: current_staff.id %>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
