<% activity_attribute_to_string = ->(attr) { attribute_to_string(activity, attr) } %>

<ul class="nav nav-pills py-3 gap-2" id="pills-tab" role="tablist">

    <!-- Info -->
    <li class="nav-item" role="presentation">
        <button class="nav-link border border-secondary-subtle fs-5 active"
                id="pills-info-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-info"
                type="button"
                role="tab"
                aria-controls="pills-info"
                aria-selected="true">
            <%= t '.info' %>
        </button>
    </li>

    <!-- Plans -->
    <li class="nav-item" role="presentation">
        <button class="nav-link border border-secondary-subtle fs-5"
                id="pills-plan-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-plan"
                type="button"
                role="tab"
                aria-controls="pills-plan"
                aria-selected="false">
            <%= t '.plan' %>
        </button>
    </li>

    <!-- Users -->
    <li class="nav-item" role="presentation">
        <button class="nav-link border border-secondary-subtle fs-5"
                id="pills-user-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-user"
                type="button"
                role="tab"
                aria-controls="pills-user"
                aria-selected="false">
            <%= t '.user' %>
        </button>
    </li>

    <% if activity.waitlists.present? %>
        <!-- Waitlists -->
        <li class="nav-item" role="presentation">
            <button class="nav-link border border-secondary-subtle fs-5"
                    id="pills-waitlist-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-waitlist"
                    type="button"
                    role="tab"
                    aria-controls="pills-waitlist"
                    aria-selected="false">
                <%= t '.waitlist' %>
            </button>
        </li>
    <% end %>
</ul>

<div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active"
         id="pills-info"
         role="tabpanel"
         aria-labelledby="pills-info-tab"
         tabindex="0">

        <div class="row">

            <!-- Activity name -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= activity_attribute_to_string.('name') %>
                </p>
                <p class="fs-5 fw-semibold text-secondary">
                    <%= activity.name %>
                </p>
            </div>

            <!-- Number of people -->
            <div class="col">
                <p class="fs-6 fw-light text-muted mb-2">
                    <%= activity_attribute_to_string.('num_participants') %>
                </p>

                <p class="fs-5 fw-semibold text-secondary">
                    <% partecipants = activity.subscriptions %>
                    <% npartecipants = activity.num_participants %>

                    <% if partecipants %>
                        <% plen = partecipants.length %>
                        <%= npartecipants == 99 ? "#{plen}" : "#{plen}/#{npartecipants}" %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>

    <div class="tab-pane fade"
         id="pills-plan"
         role="tabpanel"
         aria-labelledby="pills-plan-tab"
         tabindex="1">

        <% if current_staff.admin? %>
            <div class="d-flex justify-content-end align-items-center mb-2">
                <%= link_to new_activity_plan_path(activity_id: activity.id), class: 'btn btn-dark text-secondary border border-secondary-subtle' do %>
                    <!-- <i class="text-secondary bi bi-activity"></i> -->
                    <i class="text-secondary bi bi-bar-chart-fill"></i>
                    <span class="ms-1">
                        <%= t '.add_plan' %>
                    </span>
                <% end %>
            </div>
        <% end %>

        <!-- Activity Plans -->

        <% if @plans && @plans.length > 0 %>
            <% p = @plans.first %>
            <% user_attribute_to_string = ->(attr) { attribute_to_string(p, attr)} %>
            <div id="memberships" class="table-responsive">
                <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
                    <table class="table table-borderless table-striped mb-0">
                        <thead class="table-secondary">
                            <tr class="fs-6">
                                <th class="text-primary text-begin fw-semibold">
                                    <%= user_attribute_to_string.('plan') %>
                                </th>
                                <th class="text-primary fw-semibold">
                                    <%= user_attribute_to_string.('cost') %>
                                </th>
                                <th class="text-primary fw-semibold">
                                    <%= user_attribute_to_string.('affiliated_cost') %>
                                </th>
                                <% if current_staff.admin? %>
                                    <th class="text-primary text-end fw-semibold">
                                        <%= t 'global.table.action' %>
                                    </th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% @plans.each do |plan| %>
                                <tr class="align-middle">
                                    <!-- Plan -->
                                    <td>
                                        <%= plan.humanize_plan %>
                                    </td>

                                    <!-- Cost -->
                                    <td>
                                        <%= number_to_currency plan.cost %>
                                    </td>

                                    <!-- Affiliated cost -->
                                    <td>
                                        <% cst = plan.affiliated_cost %>
                                        <% if cst %>
                                            <%= number_to_currency cst %>
                                        <% end %>
                                    </td>

                                    <!-- Action buttons -->
                                    <% if current_staff.admin? %>
                                        <td class="text-end">

                                            <%= link_to edit_activity_plan_path(plan, activity_id: activity.id),
                                                        class: 'btn btn-warning btn-sm border border-secondary-subtle',
                                                        data: { turbo_frame: "_top" } do %>
                                                <i class="bi bi-pencil-fill"></i>
                                            <% end %>

                                            <%= button_to activity_plan_path(plan),
                                                          class: 'btn btn-danger btn-sm border border-secondary-subtle',
                                                          method: :delete,
                                                          data: { turbo_frame: "_top", turbo_confirm: t('global.destroy_dialog') },
                                                          form: {style: 'display:inline-block;'} do %>
                                                <i class="bi bi-trash3-fill"></i>
                                            <% end %>
                                        </td>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% end %>

    </div>

    <div class="tab-pane fade"
         id="pills-user"
         role="tabpanel"
         aria-labelledby="pills-user-tab"
         tabindex="2">

        <% if @limit == 99 || (@limit != 99 && @count < @limit) %>

            <div class="d-flex justify-content-end align-items-center mb-2">
                <%= link_to new_subscription_path(activity_id: activity),
                            class: 'btn btn-dark text-secondary border border-secondary-subtle',
                            data: { turbo_frame: "_top" } do %>
                    <i class="text-secondary bi bi-person-arms-up"></i>
                    <span class="ms-1">
                        <%= t '.add_to_activity' %>
                    </span>
                <% end %>
            </div>
        <% else %>
            <div class="d-flex justify-content-end align-items-center mb-2">
                <%= link_to new_waitlist_path(activity_id: activity),
                            class: 'btn btn-dark text-secondary border border-secondary-subtle',
                            data: { turbo_frame: "_top" } do %>
                    <i class="text-secondary bi bi-telephone-plus-fill"></i>
                    <span class="ms-1">
                        <%= t '.add_to_waitlist' %>
                    </span>
                <% end %>
            </div>
        <% end %>

        <% if @subs && @count > 0 %>
            <%= render 'subscriptions/subscriptions_table',
                       subscriptions: @subs,
                       actv: true,
                       generic: true
            %>
            <%== pagy_bootstrap_nav(@pagy) %>
        <% else %>
            <%= t 'global.no_subs' %>
        <% end %>
    </div>

    <% if activity.waitlists.present? %>
        <div class="tab-pane fade"
             id="pills-waitlist"
             role="tabpanel"
             aria-labelledby="pills-waitlist-tab"
             tabindex="3">

            <!-- TODO list user in waitlist -->
            <% waitlists = activity.waitlists %>
            <% u = waitlists.first.user %>
            <% user_attribute_to_string = ->(attr) { attribute_to_string(u, attr)} %>

            <div id="waitlists" class="table-responsive">
                <div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
                    <table class="table table-borderless table-striped mb-0">
                        <thead class="table-secondary">
                            <tr class="fs-6">
                                <th class="text-primary text-begin fw-semibold">
                                    <%= user_attribute_to_string.('name') %>
                                </th>
                                <th class="text-primary fw-semibold">
                                    <%= user_attribute_to_string.('surname') %>
                                </th>
                                <th class="text-primary fw-semibold">
                                    <%= user_attribute_to_string.('phone') %>
                                </th>
                                <th class="text-primary text-end fw-semibold">
                                    <%= t('global.table.action') %>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% waitlists.each do |w| %>
                                <tr class="align-middle">
                                    <% user = w.user %>

                                    <!-- Name -->
                                    <td>
                                        <%= user.name %>
                                    </td>

                                    <!-- Surname -->
                                    <td>
                                        <%= user.surname %>
                                    </td>

                                    <!-- Phone -->
                                    <td>
                                        <%= phone_to_string user.phone %>
                                    </td>

                                    <!-- Actions -->
                                    <td class="text-end">
                                        <%= link_to edit_waitlist_path(w, activity_id: activity.id), class: 'btn btn-warning btn-sm border border-secondary-subtle', data: { turbo_frame: "_top" } do %>
                                            <i class="bi text-secondary bi-pencil-fill"></i>
                                        <% end %>

                                        <%= button_to w,
                                                      class: 'btn btn-danger btn-sm border border-secondary-subtle',
                                                      method: :delete,
                                                      data: { turbo_confirm: t('global.destroy_dialog'), turbo_frame: "_top" },
                                                      form: {style: 'display:inline-block;'} do %>
                                            <i class="bi text-secondary bi-trash3-fill"></i>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% end %>
</div>
