<%= form_with(model: activity) do |form| %>
    <% if activity.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: activity.errors.count) %></h2>

            <ul>
                <% activity.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row g-3 mb-2">
        <div class="col">
            <div class="d-flex">
                <%= form.label :name, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.text_field :name, placeholder: 'Sala pesi', class: 'form-control', autofocus: true %>
        </div>

        <div class="col">
            <div class="d-flex">
                <%= form.label :num_participants, class: 'form-label fw-semibold text-secondary' %>*
            </div>
            <%= form.number_field :num_participants, class: 'form-control' %>
        </div>
    </div>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
