<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
        <h1 class="me-2"><%= t '.title' %></h1>
        <span>(<%= t('.registered', count: @pagy.count) %>)</span>
    </div>

    <%= link_to new_activity_path, class: 'btn btn-success' do %>
        <i class="bi bi-activity"></i> Aggiungi Attività
    <% end %>
</div>

<div id="activities">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th><%= Activity.human_attribute_name('name') %></th>
                <th><%= Activity.human_attribute_name('num_participants') %></th>
                <th><%= t 'global.table.action' %></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            <% @activities.each do |activity| %>
                <tr>
                    <!-- Name -->
                    <td>
                        <%= activity.name %>
                    </td>

                    <!-- TODO Number  -->
                    <td>
                        <div>
                            <!-- TODO calculate only active sub -->
                            <% partecipants = activity.subscriptions %>
                            <% npartecipants = activity.num_participants %>

                            <% if partecipants %>
                                <% plen = partecipants.length %>
                                <%= npartecipants == 99 ? "#{plen}" : "#{plen}/#{npartecipants}" %>
                            <% end %>

                            <!-- Add users to activity -->
                            <% if npartecipants == 99 || (npartecipants != 99 && partecipants.length < npartecipants) %>
                                <%= link_to new_subscription_path(activity_id: activity), class: 'btn btn-success' do %>
                                    <i class="bi bi-person-plus-fill"></i>
                                <% end %>
                            <% else %>
                                <%= link_to new_waitlist_path(activity_id: activity), class: 'btn btn-info' do %>
                                    <i class="bi bi-telephone-plus-fill"></i>
                                <% end %>
                            <% end %>
                        </div>
                    </td>

                    <!-- Action buttons -->
                    <td>
                        <%= link_to activity_path(activity), class: 'btn btn-primary' do %>
                            <i class="bi bi-eye-fill"></i>
                        <% end %>

                        <%= link_to edit_activity_path(activity), class: 'btn btn-warning' do %>
                            <i class="bi bi-pencil-fill"></i>
                        <% end %>

                        <% if current_staff.admin? %>
                            <%= button_to activity_path(activity), class: 'btn btn-danger', method: :delete, data: { turbo_confirm: "Sicuro di voler eliminare questa attività? L'operazione non è reversibile" }, form: {style: 'display:inline-block;'} do %>
                                <i class="bi bi-trash3-fill"></i>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>
