<%= turbo_stream_from "pricing_plans" %>

<div id="product_<%= @product.id %>">
  <h1><%= @product.name %></h1>
  <hr>

  <h2>Piani Tariffari</h2>

  <%# 1. Link per mostrare il form di creazione %>
  <%= link_to "Aggiungi Nuovo Piano", new_product_pricing_plan_path(@product), data: { turbo_frame: "new_pricing_plan" } %>

  <%# 2. Contenitore per il form (di creazione o modifica) %>
  <%# Questo frame verrà riempito dal link qui sopra o dai link "Modifica" %>
  <%= turbo_frame_tag "new_pricing_plan" %>

  <hr>

  <%# 3. Contenitore per la lista dei piani, che si aggiornerà dinamicamente %>
  <div id="pricing_plans">
    <%# Iteriamo sui prodotti per la visualizzazione iniziale %>
    <% @pricing_plans.each do |pricing_plan| %>
      <%= render pricing_plan %>
    <% end %>
  </div>
</div>
