<div id="<%= dom_id receipt %>">
  <p>
    <strong>Payment:</strong>
    <%= receipt.payment_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= receipt.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= receipt.date %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= receipt.staff_id %>
  </p>

</div>
