<h1>Ricevuta #<%= @receipt.number %>/<%= @receipt.year %></h1>

<p><strong>Data:</strong> <%= @receipt.date %></p>
<p><strong>Importo:</strong> €<%= @receipt.payment.final_amount %></p>
<p><strong>Metodo:</strong> <%= @receipt.payment.payment_method.humanize %></p>
<p><strong>Emessa da:</strong> <%= @receipt.user.nickname %></p>

<h3>Dettagli Pagamento</h3>
<%= @receipt.payment.display_summary %>

<%= link_to "Stampa", receipt_path(@receipt, format: :pdf), target: "_blank" %>
<%= link_to "Indietro", receipts_path %>
