<%= form_with(model: staff, data: { controller: 'activity-search-user' }) do |form| %>
    <% if staff.errors.any? %>
        <div style="color: red">
            <h2><%= t('global.forms.messages.errors', count: staff.errors.count) %></h2>

            <ul>
                <% staff.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row mb-3">
        <div class="col">
            <%= form.label :user_id, class: 'form-label fw-semibold text-secondary' %>
            <%= text_field_tag :q,
                               nil,
                               class: 'form-control',
                               list: "datalistOptions",
                               placeholder: t('.sel_user'),
                               autocomplete: "off",
                               data: {
                                   activity_search_user_target: "input",
                                   action: "input->activity-search-user#search change->activity-search-user#selectUser"
                               } %>
            <datalist id="datalistOptions" data-activity-search-user-target="results"></datalist>
        </div>

        <%= form.hidden_field :user_id, data: { activity_search_user_target: "hiddenUserId" } %>
    </div>

    <%= form.fields_for :user do |u| %>
        <div class="row mb-3">
            <div class="col">
                <%= u.label :name, class: 'form-label fw-semibold text-secondary' %>
                <%= u.text_field :name, placeholder: 'Mario', data: { activity_search_user_target: "name" }, class: 'form-control' %>
            </div>
            <div class="col">
                <%= u.label :last_name, class: 'form-label fw-semibold text-secondary' %>
                <%= u.text_field :last_name, placeholder: 'Rossi', data: { activity_search_user_target: "last_name" }, class: 'form-control' %>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <%= u.label :email, class: 'form-label fw-semibold text-secondary' %>
                <%= u.email_field :email, placeholder: 'mario.rossi@example.com', data: { activity_search_user_target: "email" }, class: 'form-control' %>
            </div>
            <div class="col">
                <%= u.label :phone, class: 'form-label fw-semibold text-secondary' %>
                <%= u.phone_field :phone, placeholder: '336 4889120', data: { activity_search_user_target: "phone" }, class: 'form-control' %>
            </div>
        </div>
    <% end %>

    <div class="row mb-3">
        <div class="col">
            <%= form.label :nickname, class: 'form-label fw-semibold text-secondary' %>
            <%= form.text_field :nickname, placeholder: 'Nick', class: 'form-control' %>
        </div>

        <div class="col">
            <%= form.label :password, class: 'form-label fw-semibold text-secondary' %>
            <%= form.password_field :password, placeholder: 'password', class: 'form-control' %>
        </div>

        <div class="col">
            <%= form.label :password_confirmation, class: 'form-label fw-semibold text-secondary' %>
            <%= form.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control' %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <%= form.label :role, class: 'form-label fw-semibold text-secondary' %>
            <%= form.select :role, @roles, {}, { class: 'form-select' } %>
        </div>
    </div>

    <div class="mt-4">
        <%= form.submit class: 'btn btn-dark text-secondary border border-secondary-subtle fs-4 fw-semibold w-100' %>
    </div>
<% end %>
